---
#This is the front matter
---

//Base Partials

@import 'base/normalize';
@import 'base/base';
@import 'base/skeleton';
@import 'base/helpers';
@import 'base/variables';
@import 'base/sandbox';

//Layout Partials

@import 'layout/typography';

//Modules (This is the goods.)

@import 'modules/title';
@import 'modules/navbar';
@import 'modules/portfolio';
@import 'modules/footer';
@import 'modules/portfoliopage';
@import 'modules/xmark';
@import 'modules/parallax';

//Microinteractions (If I'm not lazy I will get to this.)

@import 'micro/colorchange';
@import 'micro/highlighting';