/*Global CSS*/

body {
    margin: 0px;   
}

.container {
    width: 70%;
    margin:auto;
}

/*Navbar Formatting*/

.nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height:auto;
}

.nav ul, footer ul {
    font-family:'Lato', 'Arial', 'Sans-Serif';
    font-weight:800;
    padding:0px;
    list-style: none;
    font-weight: bold;
    margin: 0px;

}
.nav ul li, footer ul li {
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.navbar-left {
    display: inline-block;
    float: left;
}

.navbar-right {
    display: inline-block;
    float: right;
    height: 20px;
    padding: 0px;
 
}


@media (max-width: 800px) {
  .navbar-right {
float: left;
  }
}

.current {
background: black;
}

.current a{
    color:white;
}




/*Font Styling*/

h1 {
    font-size: 4em;
    font-family:'Lato', 'Helvetica','Arial', 'Sans-Serif';
    font-weight:900;
    padding: 0;
    margin-bottom:-20px;
    line-height: 85%;
}

h2 {
    font-size: 1.25em;
    font-family:'Lato', 'Helvetica','Arial', 'Sans-Serif';
    font-weight:300;
    color:#808080;
}

p {
    font-family:'Lato', 'Helvetica','Arial', 'Sans-Serif';
    font-weight:300;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
a {
    text-decoration: none;
    color: black;
}

h1 a:hover {
    color:red;
}
    

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color:#808080;
}

footer {
    font-size: .8em;
}

/*Global Formatting*/


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

footer {
    border-top: 1px solid #d5d5d5;
}

/*Media Queries*/

/* Logo CSS*/

.img-circle {
  border-radius: 50%;
}

.logo-wrapper {
  position: relative;
  width: 200px;
  padding:  100px 0px 50px 0px;
    
}

.top-image {
  position: absolute;
  margin: 25px;
  width: 150px;
  z-index: 5;
}

/*Text Highlighting*/

/*Overruled color stylings*/

/*Portfolio Formatting*/
.portfolio-container {
    width:100%;
    height: 250px;
    background-color: aqua;
}

.portfolio-container li {
    display:inline;
    width:25%;
    background-color: blue;
}


