---
layout: default
title: Portfolio
subtitle: Welcome to the jungle.
---
<div class="container">
    <div class="folio-navbar">
            <ul>
                <li class="foliolink"><a href="/portfolio"><h3>#All</h3></a></li>
                <li class="foliolink"><a href="/portfolio/illustration/"><h3>#Illustration</h3></a></li>
                <li class="foliolink"><a href="/portfolio/design/"><h3 class="current">#Design</h3></a></li>
                <li class="foliolink"><a href="/portfolio/traditional/"><h3>#Traditional</h3></a></li>
            </ul>
        </div>
</div>
<ul class="hanger">
	  {% for post in site.categories.portfolio %}<li class="hung">
    <div class="overlay-shadow">
            <img class="clip" src="/img/blinder%20clip%20on%20wire.svg">
            {% if post.thumbnail %}
            
	<img class="art" src="{{ post.thumbnail }}"/>
	{% else %}
    <img class="art" src="http://lorempixel.com/50/50/" />
	{% endif %}
<a class="overlay" href="{{ post.url }}"><span>{{ post.title }}</span></a>
</div></li>{% endfor %}
</ul>
