
<div class="exitplace">
<!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In  -->
<svg class="exitsign" version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="543px" height="344px" viewBox="0 0 543 344" enable-background="new 0 0 543 344" xml:space="preserve">
<defs>
</defs>
  
<a xlink:href="/portfolio">  
  
<g>
	
		<radialGradient id="SVGID_1_" cx="291" cy="165.4" r="140.0571" gradientTransform="matrix(2.855977e-002 0.9996 -1.9992 5.711955e-002 613.3542 -134.9289)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#33CE00"/>
		<stop  offset="1" style="stop-color:#007205"/>
	</radialGradient>
	<path class="vanish" fill="url(#SVGID_1_)" d="M202.2,91.7c0-19.7-16-35.6-35.6-35.6l-39,0.3V282l36.2-0.3h2.8c19.7,0,35.6-16,35.6-35.6v-65.8
		c0-9.7-3.9-19.3-10.2-26.6c9.3-10.5,10.2-25,10.2-25L202.2,91.7L202.2,91.7z M179,246.1c0,6.9-5.6,12.4-12.4,12.4h-2.8l-13,0.3
		v-94.1h18.5c5.5,1.2,9.7,6.2,9.7,12.1V246.1z M179,128.7c0,6.8-5.6,12.4-12.4,12.4c1.4,0,2.9,0.1,4.3,0.3h-20.1V79.7l15.8-0.3
		c6.8,0,12.4,5.6,12.4,12.4V128.7z"/>
	
		<radialGradient id="SVGID_2_" cx="291" cy="165.4" r="140.0571" gradientTransform="matrix(2.855977e-002 0.9996 -1.9992 5.711955e-002 613.3542 -134.9289)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#33CE00"/>
		<stop  offset="1" style="stop-color:#007205"/>
	</radialGradient>
	<path class="vanish" fill="url(#SVGID_2_)" d="M272.4,56.4h-36.3L202.8,282h23.5l13.9-94.1l28.1,0.1l13.9,94h23.5L272.4,56.4z M243.6,164.7
		l10.6-72.1l10.6,72.2L243.6,164.7z"/>
	
		<radialGradient id="SVGID_3_" cx="291" cy="165.4" r="140.0571" gradientTransform="matrix(2.855977e-002 0.9996 -1.9992 5.711955e-002 613.3542 -134.9289)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#33CE00"/>
		<stop  offset="1" style="stop-color:#007205"/>
	</radialGradient>
	<path class="vanish" fill="url(#SVGID_3_)" d="M351.9,258.8c-10,0-18.1-8.1-18.1-18.1V97.8c0-10,8.1-18.1,18.1-18.1c9.9,0,18,8,18.1,17.8h23.3
		c-0.2-22.6-18.7-41.1-41.4-41.1c-22.8,0-41.4,18.6-41.4,41.4v142.9c0,22.8,18.6,41.4,41.4,41.4c22,0,40.1-17.4,41.3-39h-23.3
		C368.7,251.9,361.1,258.8,351.9,258.8z"/>
	
		<radialGradient id="SVGID_4_" cx="291" cy="165.4" r="140.0571" gradientTransform="matrix(2.855977e-002 0.9996 -1.9992 5.711955e-002 613.3542 -134.9289)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#33CE00"/>
		<stop  offset="1" style="stop-color:#007205"/>
	</radialGradient>
	<polygon class="vanish" fill="url(#SVGID_4_)" points="484.1,282 460.5,282 434.8,131.9 428.6,141.7 428.6,282 405.4,282 405.4,56.4 428.6,56.4 
		428.6,98.1 428.9,97.7 445.1,71.9 454.9,56.4 482.4,56.4 453.3,102.5 	"/>
	
		<radialGradient id="SVGID_5_" cx="291" cy="165.4" r="140.0571" gradientTransform="matrix(2.855977e-002 0.9996 -1.9992 5.711955e-002 613.3542 -134.9289)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#33CE00"/>
		<stop  offset="1" style="stop-color:#007205"/>
	</radialGradient>
	<polygon class="vanish" fill="url(#SVGID_5_)" points="115.1,199 78.8,199 60.6,165.1 78.8,131.4 115.1,131.4 97,165.2 	"/>
</g>
<g>
	
		<image class="vanish" overflow="visible" opacity="0.75" width="543" height="344" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAh8AAAFYCAYAAADz6J6YAAAACXBIWXMAAAsSAAALEgHS3X78AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAdEFJREFUeNrsnYmS4kgPrWUDRW09
y33/Z7z/TC+1sNh3OsJ5SwhJqfSGgaMIB9XV3WDsdOaXRxsRDAaDwWAw2IxW4TvAYDAYDHZ11mLh
vvy5AkBgMBgMBvC4Eiiprujcqsx5A0BgMBgMdo/g0Tp/v0gYWS8YOKrCVxgMBoPB7g1Ccq+LBJEl
wIcFHPJn6yBACAwGg8HuDDrSz95B4ufFgEi1kM/24KI2XjUIAYDAYDAY7NbBQwONxnj1wORiEHIJ
5cODDg4Y6Vgpf+b/BvABg8FgsHuEj4ZBxpH9uVH+rAEJXQpC5oQPCzo4cKzYqzzW4u9rAAgMBoPB
7hw8OGj8fj10r/Lg/46DCF0CQuZaqCsHOjhQrNnrpnvVjpUAECsOBAaDwWCwW4GPVoGPI4MO7dgb
UCJVERkncvXKBwcCTeXgULERx4PyuxyAQP2AwWAw2D2oHhI89uLYKb87CBDRIGRyFWRK+JBqh4zb
WDGYeGCwsWWv6Wd+JEjhLhmupAA+YDAYDHar8MFjPNKRoGInjk/xuhNAwkGkYhCSPquaCkCmgg8O
Ady9wuM3NgwofkPGI3t9FH/mELJR4EO6XgAgMBgMBrtF1aMVqsdRKB0JNj7Y64f43acAEQ1CJnXD
TAEfWgaLBh1bBhdPyvHIXrkKwuFjTXrcBwFAYDAYDHYj4KHBR8OAgcPHp4COd3Gk36V/I9UQ6Y6x
zmcx8GG5WTh0bIS68Rsuno3jyYEPHvcB+IDBYDDYPcKHjPdIIKGBx5s43rs1lSsjNZ0GqXJXzKhu
mLHgQwMPrnZw98oTg46X7nhlP78Y8MFjPtZC9agBHjAYDAa7EwBphPqRDul2keDxix1v7JVv6j+7
9TO9p/zsURSQMeDDAg9N7Xhm0PHaHd/YzxI+pOohg0091QMAAoPBYLBbAQ9P/dCCTqX6wcHjZ3fI
9ZV7FHZsXU2f4Z3brPAhA0tlJsuWqR3PDDISdPxhwEdSPdL/l2m2stIpms3BYDAY7NYhxMp64QpI
it34FArIC4MPvsF/pPN4SsujIONAegPIEPiwwGMt1I4npnQk4OAHh4+kjPALEnG1QPWAwWAw2L2p
HyUuGBlT+ejAhwSQtKYeGIQMApAxlA/pauGps8nFwqHjz+6Q8PGSITErrdaragoAgcFgMNitgIcF
IF76bVJBnhTo4DGVHnzwdfYgFJheQah94aPKgAd3s3xjwPH7+IvBx7fu4IqHzGqJlFIHZMBgMBjs
3qDEU0E2TAXh5S14/SythpbMJNWgh+grG2Y25cOq4bER4PFNKB1/M/D4k4EHVzy0wJcVoAMGg8Fg
sCIIWTEA4e1KZNXwjQMelaPEpJ+bjEozCnzIOA8txoODx1/d8Tf7+S8BHknx4PEdOdkH0AGDwWCw
e7fKgJC0djZsneY91LReatqGnwzlw0q7DQPIEOVDulsSeLwy8PhbHNzdIsFjE1Q7CAACg8FgMNj/
X/D5xrxlv0sAIrNRV2K9teIq+WdYXXB55k3YDVMCH1UGPFJWS4rxSPDxf5jywQNMnwzwQMVSGAwG
g8HK1A8OIhqEyCMCHlosSWOASFH8x7rwy8m0Wu5u4VktfwrlgweZWooHqpXCYDAYDDYcRCwIsUCk
DoAHz6SxFBAOQaMrHzWdN4h7NlSPvwR4vGbAA7EdMBgMBoNNAyFa41fNy6Cl7x4EgEgYKXK/rINf
Ipfdoqke6fhDAY9UtdSSegAdMBgMBoONCyEU3Ohr4LEXR0rj7eV+WQdPnOjc3SKDTGVqrRVcunUU
D4AHDAaDwWDjQ0jrrLNVIXhw+JDqR8j9Uqp8yNRaWTpdQscrwAMGg8FgsMWoIFxQkGqH5m5JsLFT
Dgkh3PUySPlIJyx7t8gMl1cGHH8oigcvHhbpRguDwWAwGGxaFaRW/t6Dj9Qn5qP7mUNIUj/qiPqx
CioetVA8UoBpcrOkrJaUVvsn6Sm1HD4AHjAYDAaDXU4FyXkekhLCXTDy0AJP25z6EYEPGWDKq5jK
eh6yb0tqZJNcLWuABwwGg8FgiwQQroxw+IgEn1oAUpXAh6d6PNGXm8Wq58F7tuTiPGAwGAwGg10O
QDzLwYdUQXj2S7Hy4VUy5TEeFni8KuAh68UDPmAwGAwGWw6AWCm36dBUDxl4KuGjKOaDB5lq2S2a
6sG71fJCYlp7XoAHDAaDwWDLhBAS8NDQacyHzICR7hct7fbEakf10Eqpp4qmPNPlmR2PitqxIqTT
wmAwGAy2dPDQvB68rtcTfSWcpHU/eTlk1XI3vKLOnAyP+VgrJ8BfH5UTWNFpCVcYDAaDwWDXBSBS
eOBr/xPFKpeH4MOjn3QCj+KDNdWjFp8BAIHBYDAYbNkQIkMvePgFX/s5AyThYUN6SY3Kgw/pHvHg
Q4LHA+nBpUirhcFgMBjsOtWPOsAAW9KLiRa7XaxGclL5kB/qqR4wGAwGg8GuS/3wvB+PjgDhul76
ul3kYakeBNUDBoPBYLCrAg/JAR6E5DggHPOR+8CHAHigkBgMBoPBYNcNIZ4QwXngQbCAVlT0hAms
YNCSD+Qfhr4tMBgMBoNdP3hYLMCzX+XRW/nQanzIaFf+IRtH9dCgBgaDwWAw2HWBiBZ8ulY4gKse
o8R8rASAyA/T3C2ADhgMBoPBrh88rHCMtSFErBQWqHLwIVNtNbllLcDDUj1gMBgMBoNdJ3hEBImV
cmTFiNoBD/lBqwB8oK4HDAaDwWC3BSE5BUQDj97ZLtqHWEdlfBAABAaDwWCw24GQWjly4HHGBZGY
j8qBj8gHwWAwGAwGu37wqBwIkSKEpnr8/z+vLSrJUE5IVoFdlbVXMPhhy7lfuB+wOcdpdYPP2jU+
Q1UGRjTo4P+nlfBBBqF4pFM5B+x6J4V2oYO9vfNFcCn3y7ofeO7Hvz8Vxuns422O5+zan6EqcFCO
B9YO1ZR8EKDjOieH1ngI2gUN8jYDyLe+CC7pfln3g/++wrM16b2p7miczjnerHMd81mT0FEZ3/Wa
niFL6ch+h3XgTSMAAru+RawVP7cLVT40KPZe2xsBkaXeL21OaMXP9wIhbWAB9n72wCJ6LasbH6dT
jzcLmrRzbyd4fq4RQqoAM2RtXUA2HunArmOSbJWjUX63FAipCkBY+3fXuhAu8X5Z199ywbY3Okfk
dsht8OeSsU7Gdb00bE85TucYb9a9a5TvIu/hVM+PhJClPUNV4OfR4CNCNQCR61rIGudYAoRUxgNb
B37OqXIV7tfgSdMLQF/65DnWDt9adKOHNb/2OS4B21ON07nG21zPmfV9eBapli1yLeDRW4hYj3QC
AJDlT5zy4Tr+dxy6V340Cu1fWvHQgp1XZGdfWZlY17IgLul+pWvlpd2nIkOtWBSqG3l2orv8Rtw3
7We5gFmAXTs/e8A9J2xPMU7nGG+tcf7pPA/KuR8DAEkBqMzVzOLfnW5YQewFH5ocCAC5jl00nxx+
H/vuSD/zB+5SAJKbjHmNGesBtqBk6SrIkPvVTKB+yIWAX2PeWKqhr4rHpOzGqyt/dsiBDb5oWT8f
nR20BdkrZWes/XwJ2J5qXpljvFnnzs9ffoe+82K0J8paea9bAvhR4QN2vapHerB23fHZHTvlYSul
/LHhI7f7scr958r9Lnlh1Cb0PbtXuxnvF588+XVP3a233WujLKb1lYKHFkApgeMoFq2jsuO3dv8S
QCLVpNeZP18CtqeYVyLjbSvGW9VjvGngsVfOP/3MoaQJPmccpGR3+NQVftt99oPy/W9W8QB83Lfq
8fuB+uiO9+74UB625kLwocmUNZt0tXbO2uG1eK4XpoJY92vfTYT8fqWfP9mkeZzgfsl7sGGT5uN/
x1P32hpqVXtlE6nlWpHAcRBgeFB+5seRPU9HB9bkONfgekN+j60cbA8d61POK3z88IX6gY23I1Me
pPspN974uTfiGdux50w+YxKgIs+ZfHYkRD2K72LFstCtggjg434ARO5Ofj9Yv9jx1j10n8qDFpEY
p4APbSe4EQ8yP7bidcNe19134b7Vpakglurx2d2b3/foZ/f6JibHg9hZj3Uv5OS57RaBJwY9RHpg
YEvXE2Nj7eilLL8Xz5H2Kt0OEkAaRfmoFfDQIPvB+HnjgMjYmUhTzCtcKdDG2zO7fkR28GnE7WJB
U3rGfrFn7F0AyDHwnGn3VEJ7+i6astte0bMD+IC5D1uj7KTfu4fs+3/HD7aopYdN7lKmBpBKmYQq
sRtcG+CRHur0+sj+vGX/jvtXV3QerLZEAOH366dyvz6UiXGo+lEp8JGueVoIXhl4aK6C5orVDgkd
e7ZI8eOTTt0LXKqXEMLdDhZ8SJeihA4+3iVoPwgY4SBSTzDWx5xXJOymc+fgsTPG25qdR+18J+3+
Hth9S+f9k533TweerNgdDh98w5TmpgRR6fpzhUd7fhFwCrta8NBInz9svx+0f9lk8WbsppcKHxw4
ntgD/sT+zGFEBqy1dPmOzBEp+43BR7pfP5lEvB8RFqW/esWudQKPA7t2K2WxlJPnUuNryIEOK47h
g07dC59MhdIARMYM8GdK7uLXCnxI6JCQzcH7gY3zdPAdtSbrVxeeV+R1WIvx9o2Bh3RhyAVbG2f8
OdDcLen5+iGerx9MBfkwFMbWAA8L2o9sXtvQl/vlUjF2gA/YLDKy9sClBe0fsaDtaH7Xi9XUULpd
eOyBhI/n7nhhPz+zRWArJo81m/jogipI68CHVD7+YROknBiPIyofcjF4YqCTFjLNj61l31QLfD5a
sSBJd9deAMc7O97Enz+EEsLdMJbyQYrCtFIge2OAx5Nx7Ok0OHPD1D7tWSsJ1JxiXiGhaPDx9inA
g481T+2T30kGDR8UtSYB0/+613+FwvgZhA/5PR67792wZ2YrxsXdQAfg4/5gRMrIOzaJ/mATxU+2
S9lfGD40AJE7Qj4Zc9h47QDklU59tmn38SgW/KW4YdL5HI0JMjKpjzGR8WvPd2/aJPokFlotrmGp
aoeVKiqhI8UA8FgGHhegBSha6Zo5+NCUpAdF8Xh2jgQhj0IJGXOsjzWvSPhI4yot9gk80lh7odMU
Xi/+og0+V/xc/2EAktQPC/C1Wi0rAUoHtt5uFWiKzImAD9jVqR+RHXXaqfwUu+mpsihK4EPLBJCR
8FuhfLx03+GVLQpyF6pVL5QqyNwAYqUv8kWQ+6WTNPzOvt8YbjIt+G/L3r9mkvEzncedLHUn57lZ
ZEqzDED8xZ4RHlDJ1Q/L5aKBh5Vqu3JAW451Pt5fDNhOn78Vn9t3rE8xr0gAS2NLLtr8Gh+M68lV
j5w7U4P6pHxo8LF3AN9ytxy73z2I/ysB3yu1DviAXS2ASPI/Kjs8vrv7eSH4GAogaULWdqQ7Y3cu
v5s2Kc8JHlaND28xfDck4TGUj7QIJvCo2OIgF1y+IFwiTbsPeBwMyHsTi+cPOg1E1DIiPhXIlSm2
TWbhssY5B5BHBbYTeLwrCoxWZySpCUMAZKx5RYMPCR7cnXVwIFdzt0QyyBJ48EMqNjtxHS2lMM1L
6fxllk6uOGJ166oH4OO+IIT7PGU1v53Y8fEF+5LwISdmyzeeJuV3tihqUjivNeBJtlYcyNSASMEd
uYw/0OBjbOUjgce6u8YywPJAdh2ES7tevKqW8tpyuPvBju8GfLwrcKtVn20oXl49GuuUYPtXBx/v
BnxYKsGGXaM+at9Y84qEj6MAD63Y15H0kvWeksgDYy0lMcVS8YBTnu1iuc14pk4rvkdlKFk8M0nC
x81XDgd83J81pPu5eZDdXlEJ5u6eaqkg2uScHuIPtjBa2QfRSoVrMQlMuYBaRa20jAsvxXMK+KgF
eMiUUm3BXZLykSsFznfoEjq+i4XouwEen8biaDUmizSW08a5VEDemNL3TqfZNzvSq4t6qtgQd+PQ
eYUv3kmV0bKFtD4xufuec7dwuOQKl5bpItUWqcxWdJpFx10wWimABwdAbtoAH/enfmg7Aq1U9JH8
nPy5rMpMzmmSWpNeGnlnTMSWe0Jr1DVXp8nWmcTl5L0nP5VzDJP+6L3x2XtH+ZDQWl1w7FvurDdj
B/yvABBZ++Ejo6iVtJWPjHMJ2w9CUdCg21M+2hEAZKx5hVcdrskuTd8Yn+k9T7KmB7/nlrr1RueV
hD3VQ147DooyM+mZAYgGH3cR9wH4uF8I0UoN51pKX9JysSBWU6tcoSf5GdrDP5cP1lM+DsZin8uk
GMO0hUOWFPdUj0u5XazCYVr9FAkd/wj4sMDDUn0aAzja4BgnslvKS9i21KgD9YvD6RPvNHReqZiC
kvu3FjxZKdQH8oNhNbVD3mML7CtxvazqrCkmh5cA4JlIa6ac3EWzVsAHQMSbRPq0kJ76XOXErBWG
shZKaxKWk3ylgMjU6ofVd8L6LjlpfwxrjGt8VMAnByCXHNtabQdZj4KnWf4j4OMHnZcK18qFHwNK
RwQ+5DhvxDg8ku3O2JHtqvB6qli7+D4LYN95JTLnRFJq+fiNuFu+C/iwysFrlWm1LBeekZSggx8v
9FUAMSkfWswHlA/Y3SghfR/8sdUNciZIuZuujF1WVLb1uomuaJ5Ok21ml34wlA4PPNqR7oVXdtxT
X6aAoaEgxxchmeWQajv8j4HHvwZ47DILU+QetM7YjsL2yoFsD1BzissY8U5DNjFjbIA8peuXUDw0
8Pgku26NpnzI2I5nBzxSHZYU86G5XG7eAB+w0h3MGGAx1r9vFQix5N5WmXw96NBalbcTy6Eyc6BU
wRnzvrUBMDoa53Uku/bC3FBtpVjKwlL/V4EP6f/PZfbkoD0ip7eFsH0U170x4DQS35SLd5pjXmkH
vJdXe4SnUHvg8dEDPHg6NHe1JOD41h2a6sF78GiuXsAHDDYQHKoeoNEW/K4VAJLbOcm8fNlPQ2vM
NXb2S0uxxmZHRV2YW2GInJe2055DMcupHtLdIivF/k8cvHeO1VjsWHDtc89DFGpbA0I86M61r9dS
2S8R7zQWzMhKpjLI9GdA9bCKmGlzh+x9xF0tv4Hjj+6Q8PHA4ENe+7swwAdsCuCI/BzZCbbG7s+S
tXmgWRQ8ZPaAbFOutSYfezLOVd48kB9XMeUCn3MJafEfOVVm6popuQZ9vI+HhA9etv6XoniUXPsq
CNmeuzEH25rbsc0oMloQq4RsGe90DQAilUMvo8lTPaIZcTL9+VGBj29MAdHcLWs6b/YHtwsMVgge
VfBnCu6stOh5K1BNm5i9861Jr53AG3h5RYDGXkg91SMX0DmHsuDVISmJR5k7Y8hztyT4sAJMPyhW
ztt6FnJjPwfaUdhuA+9HZGfPWG5HqY4sufGZHJ9aJVMNPn456lauGi1vHrc1wCMdKdbjUcDHXQWZ
Aj5gU0GHJeVa/uTKUROsHbf2swUhTWDi2AjoeGQ/P9C5X7aZQP2IxFVcMqOkBDyii/SUqofVNl12
L+Uptf8KxcPLeCDKZ4xozwA5C4xVLyMC20SxmiJes0Y+xrWYp6U1CLSULiI9q0nW9EjgUepu0eYP
Dh6a6oEgU8AHbCIAsXZU8sgBSZVRArQAu0pMPNbErE2+Ej5kMSAOIRuavgLhEOXj0nEfXs2RuXbM
lurx4agePKtFulpSGqsMorWgoya9WZgVT2Gde1/YJtILzFlFy2Sc0yag9pGjtlwSPPi1k1lNXk0P
rZ6Hd6/l9UvzRspukYrHq1A9Hpxre1cAAviAjQ0dK2UHtaJTv3JlyI2Vs9AdyM/8IANC+O+OYufy
TnYVwhSRrhUCami8QkCRQNNcKuucqkckJsUqDDXnDljz+cvaDrLGw5sCHh5EWX2HamPcW707rMqg
Q2GbnMVTa1jHY57Wyu58KQGRVj+k9N21YmK5mh6yPUFENeXulmfyYz0eoXoAPmDjgIf1QK7Z5CV3
UVYKq/YQagucV168oq9GTq0DIFX3fziA8E6hz92k9MykUlkMaEXjy9DR0tR8Fz61a4N/x2hMyiGj
zkzdHyfXvVTr2aLV8fDSLC3wXtO5G0Mb+zKOQnNpeW4tXvzNcrM0xsIpn1Ut1klCyIrGrSEzFnhY
z0xpkOmOzjvlUg/wKFU97iq1FvABG1v50FwYD2wS2zoQssrAB5+AtaZqn917JCDh/9cKwku7R80v
nDqEpi6hb93E8dlNHofuezR06gcfUoSJKN9YriSbZA4VxCuCdhST+NSl+SOqx3tmEdLqeFgt27Wq
lrJjqexcujaUBLlz1xqySdiu2flJyLAARLqGZLyCbHgmm56taHmuF20stg5wRtwtFsxr2XEyuyUB
R0qttWp6yGDeuwQPwAdsLPjgu4FHOnVhyIlsQ7o7xoKPvYAE3k7easZ0UCBEqiAHZYHi7dTf2Oc8
d/9u2/0/3mJ+6G7eK6t+cNSPOQM6c64h7VxzVT+nVI2OpAccagtRn0yHyoAOqSBYKsJKUT6sLsYa
bKdnoiI7ELYVzxEpyoeED83l+MCAO0H3pc2q5dKQ37ulb02PXJDpq6J4cPiQ7pa7q+kB+ICNCR18
RyBz3V/YobkuNoYUXSuAINuep4VE7sosRcHbHfOJ/pPBxhs7+I54331uKm091+K+FNUjB0m5Cqxz
uF08lws/LFeLVd9BA4+Ns4BrKoJWzVKetyyMJYE7jcfagG0LQNK/q7v/nzYLv0h3NybFjwN3TctJ
u5VptWk8RpSuaE0PqXJ5DeOS6sFTa7VKpndZ0wPwAZta+dgKGdKTH9eku140dULuYDnI1AZ8yCBJ
KXFXdF4FkQOInOwTfFhNpsYAjyWm2UYhKVKBdUog0oqKfQqY/CmULa+OhzXeOXhwvz9fjJ7ZmOdZ
UzKLRKp8fLxLGNaAm28EPADh7hcJZluhDL2wz7Wan5EB+5caf+m77x3w6FPTgxSVSysm9gfpNT2e
hOp1tzU9AB+wMYCDhOoh/aDpofz9QP7JHswX0jNHrKjvtIBpO9hH9h6VsiNvBGRUZLtfNAD5YOBh
9fTQai8MhZAlp9nSQECaEkCk62JP52W1f7FXfm+9Xi0WaGs+f74DfhXK32MP+PgQ0GRlSnA7kF+Q
jLuk1gqcvZHfRC+5G2u6fMdirhal4Nsdndf04EHFQ0qoa0Gm3N2ilVBHdgvgAzYRhFgR4M9sR/BX
ByGvbCel+b895WPHJkmuntTKxKotflVmMj4YAMJ97XtH+egLHktPs9XUhb7Kx9Tn2JAdy8MXWK5o
yWDDEp9/Ao9XNtb/oHPp3UqztNwuGjTJhcxL1+XQbcV/1HQeS8Wvz5tQ/R7Z/b10rIIWI8NdLlox
seRqK63p4ZVQl03jrMZxVn2guwcQwAdsCIDk0s++MQXkG+UL7VTGLi0tJNLdQnTuL5cLdk16mWpN
uuU7Zg4iu6BEO5aisIQ021L1IwpLY8V9RON4OIC8Gzv6nLtFZnSl+A7uXkyQ/Scb757yIcHhqMD2
O1P6rMwTS/1qe16nN0X149dpdaGFUwPfBGvJnSSzW2QNl7FqeryIe8/hg1cy3WTUXcAHDDYhgPAd
Au/ouKbzOh+WrLpTJmA+ae/pNENASum5ipJWPRGZ5hhpZ18ykVqKwpLTbGXzLg+U5oj5iAYRvws1
axe4n15GF5fdf4PH393xF51K8N4umJgiYaUIW6qJBa2NeH6sMa/FmHwo12unXKtagM2c6pt0lSbb
0Wl2i1ZMrG9NDy3I1OrdwsFjYyhVABDAB6wncMhXLfWQZwA8s92CBh/ajkBOyNLV0igytQwQTRO9
lKGtyZhPyBI6rFbqRMPcLkTzpNlWwXPpq3wcMtdpqnRbS8HirjP5GonzkAuRlmL5rVM5OHz8Tadx
Tk+kx3t4dT7S+UvFRHNNNs4YqRz1oxFjXWbXcFCLKERzgIemiKbffXSg8Z30Oi4yyDRa04OXUPdS
a2UxMbhbAB+wiQGkIrvSqax7wGsHrMnvk8InGhmkl3Z1WkbDmzPRVwowaBNypFur1fCrb7GxqdJs
c2XgJQi0A841d85DQK2P8iFjeHYKTEbAw5LeNfhIysersxh55dU5bMv6IJUY/1Kt05QcLdvLar63
o/N4p52A8EbA/JwdlTVAS9//nXR3i9ckcIyOtSihDviAXRhGrPLNXuMqLj9XyoLY0KnPlEgvocxr
iXjtqi3wyO3mNVfCGDvAKHj0AZDKUavkv9OuS1/1Y45iaK2jGsndPF9EuSstF7sTdbmkmKYEIX/S
uYtRAoQXLHokvbmbF4y9U8CKl0QvCbiW0CbdLkfSU26nhA6pTqbvne7TvpsHvOq1Vqo8KRsprXaR
Bx+ylhFKqAM+YDOCh9Zki5ef1o4cfNSKfJwmXq0JnFbMKbLz0PzmWpOvxthJ9tnRt8bCo5XZ7ptm
qylU2nmUAMiS0m2tWAC5k5eLs+UWiu6AJXzILBcrsyvS1XZFX4HSGjxHv6OmOLVkN2/04p0spWiO
svlEdgB6imn5pNMslxT7kavl0qemR7R3C0qoAz5gF4IQDUoiDeX4blxOlFr/GK+MtbbzaI1dp7aw
WoF8WgzDkJiPhvQOvjk1IXcviPzOwfI7e0BCtMx0WytIl8fsyIU0soh6WS5WB1Orom9uF8yvr/Z8
kAEevPqprFtyVO5pa4wFr7dMpGrt1MqHBpapzHwqqf6T7LL5Q2t6vCiwmavpgRLqgA/YhUAkAiSR
nUFSRlIre62fhtbEKwc4nsRrHWO5WqJKQrRTrHbtSVGhtEVHtmdvAgrIktJtLVleBgxrMRG5aqay
zoNWVlu2EpC9jNaUr2pZGYBABhx4mTx8oZUKYmssthaIWKrfXN1tNZdagq4Eaqm+h9cs8JAB4VxN
Dw00ZVotSqgDPmALVUIoMPla6ofWRVRrXS7dLX1KGXvwoaklYyyaXuZIxE3gXfua8vVU0u8apsR4
oLSEdNs2AG9amrTsVhvpWstbzz8yAOEHd/1tjHHojXc+1lsxP0u3g6zLwWtz8BoWxBZoCR9psfWU
Qnmv56qmawUSJ+hKrinqfv+hqB5ajZKxgky9AnIooQ74gC1UDSnZCWgAIhdULYakRPGgDGBMOela
k2xfAKmMCTXXQ+fIJvNI0Okl022tzA3LdaCpMNLNZI29ms5jAHjWltW5uU/AYSWuP1f8WmU3ztUX
rn7s6bSLrUwt5apYcjFYXafnztSw7q0svkb0FXAq+7loINa3Y23EvYbsFsAH7M6UlEgcSWWATzSd
dI7JVisN7y2cnquAv/LrsaLzQDgivR6EFZjoqTZLSLe1AoVzSkwu00VmPnAAkTFHnuLRF7jlwqgB
CF9sk6pTd/9+R3pBLZ7Vwd/TaoJXzfAsVBnV44O+XEgJyjh8aNktuRLqY9T0GHrPAR8w2BVDSCSW
pLQV+JQQoqWKWuqHVbuhJE1Ua2qWdpWazF5l1IlLptu2BhRZGUp9UpS9xZ9DiIw1GuLy0wAktQeQ
O3Me+MpjG9L/29C5G6Y1lJ2NeD8ZMGt9rzmCiGWAbSqlniBkT+e9aWQxsb4l1FHTA/ABg4UgpDJU
gKWZlzVyoGEt6q2aK7K+CtFpozB+HjX1d7tcAkCs6+kF6JZcQ+l+0WrWeO0ChozxlvzaE68CMKru
3z3Slxvm4Cy+Kzp1NfBWCM+k96SZ8vmS95EXFEtxSRs67WTLg295YbRcCXXU9AB8wGCjAsm1PPwy
cNMLOI2Ch1xYtMwgCR+kqAba7raleGE2ft5HGi89OXo9teDYKPxUlC+cx91YVkDvkF1wzv2SYCEF
1DZsTt92KsAnnRdU4yZTSx/FomuVh69IT1sfWw3kLhc+ZtM5pL+XVVm1InKWy6VE9UBND8AHDIBx
9pBfC2y0xg7PK6teoiBYi+YDnXbabBX44MWtGvLl9ch5a6mtROPL9VMFC1uxRasgeIw53rWaI7Ke
x6q7z090GvfgpZjKnT9ffPlOfy73glXbI43DPen9nbRCcqWl87Vg3kiQKWp6AD5gdwAe1i7/msxL
E9Xqe1hBm9Y10lwuPFYhdQVO8R5pErdSQ8lZ2HOxKjnVZqpeL63zebmKsNr4sgKcPfffGONdUz82
dJ69UzEoeSE97qFVvp8cJymThzeDfBTgWtNpavYY961y4IO7BWXAtFXX5Uh6kLMMyPaqmfJDKyaG
mh6ADxjs6iyXMRJtZqft6LSd8oZNnCu2UyY2gXv9R7yFPlqjZKpiYyVQMgRwowXzpgJv6SbhAcF8
AZX9WHIKgJZOnFwQVnzD2Ast/y5JdTvSeYXXFZ3HKGmuvlwhPv69N3RePv+F/Kq1qOkB+IDBrhY8
hvRJiSxUclFJE+yavjIoWjrtmaGlC+aKjXngMXdPEO08x1DbciAyh+In1Q9ewTTd4yc6LYvuubsq
A0A2AkJ464IV5TOhxoAQDiAkVA+ZKl5S2E4LNpVZRE/Kwa+DBh4wwAcMdlUQ0lf58CpzagGKG7aY
cPhIO0cePFdSkt4rsW4V+Gqv7D5d0sUnF3rZTVbWqNize5Bz1cn+PyuhBsgsKelymSrmg4+t9HNN
54HQXo2XSAVgrY6LBJBHAWEIMgV8wGBXr3r07Y0SUT0iykdN5y4XK47BCpSNxKw0FI9ZuSYYmRNM
OCho93tNfiXXNvC+WlVcLbB2KneZjP1o6Lz2jNYUsiG9/1Jr3DMi3fWi1XHRCshFXZMwwAcMtlgI
8SpyylTVaKaLFfPBZeP073+/947OA+iiMR855SbXFO9aJ+85s65kWmstwGNFfm2TCHxEKwfTxN+1
VWCkJbsjM5Ffvj/3XTWXk1bDxYJzqB6ADxjsKmBDmywj/VFKlA/pdpEZLxs2oR+VXV00bdDL1tEU
nLE6A9+jaQDCC5DleuhElZVc9eCpYj08CCHlc1sDQnLf2YvdsdoRrMhv3wADfMBgVwEhRLHS5H3q
e2huF76T2wrlY096CW1N/bD6b+RiVo6BHTkm8jIAqcR1rGmcdvfa4uzdnykW4VZ839aADgtC+ihY
8tmJtG7AuAV8wGBXqYJECnWVtqSPKB+8VbvsSxINOI1AVK5C6zW7XS4JIKRASJVZmEveWwORIe87
5DmpAp9Z2q9JvvYBGIxbwAcMdrXgMVaabZVRPjRfdjqXPZ33J7ECTqsCiOrbmwbWD0LkgtgX7KqJ
/u1QFWRsmNEAxCrHDwN8wGA3BSFjpdlqEMIDTrX+Luk9dobyEYn7GAJQmNjHhRC5oFYjv68EgWus
KlwZ0Gyl6+YCeKF+AD5gsKtTPaZIs6WM8vGgKB+yjkNpum1f5QM2D4zAYvDsNUacoisz4AOXAAa7
6KQ3ZZqt1ok1QUh6Txnz4QWclqgfUZjCDhJ2qQ1AS2UB39omAOMX8AGDLX7Ci0x+Y6TZymqVltul
YX8nXS8WeFgZL60AppIJHAa7xDOpwf+B9HRxrUgewAPwAYNdzYRHNG2arad88IBTS/nQWsT3KTZm
gZRXiwITOWxu9UMbs7I7Lq9TA3AGfMBgNzHxjZ1mW5Me88EVDgs+vCqOfb5L7jsRdo+wCz+HXoE8
fkC5A3zAYDcBHlOl2VYB8LDcLl4lx8oBhWjQKQL3YJd+/jzlw3O7aOoHwBnwAYNd3SQ4VZptTvng
8KGVVke6LexerBEAIt0ue/JVO/4MAEIAHzDY4lWPKdNsLeVDHrK6qZbxgnRb2L09iwfKB50iWwvw
AYNd7cQ3R5ptRPmQ4IF0W9g9A4jndoHLEPABg13dJEc0Xzdbr84HVz7WhvKR6++CdFvYLT2fVsZL
DkBggA8Y7ComOaLpu9nKGh+rIHx4MR9It4XdsurhbQRymVqwnlbjEsBgF5v0pupmm1M9ckeJ22Ws
dFsYbM5NQASa95RXIzF2oXwsZkDPbdgp3hZ4jJFmKwNOVxRzu0j1o1LUD6Tbwm7xufRilQ6B5xFx
S4CPi4HG3JNohV3j1Y0ZvuDy2IhIvEdJmm2p22VF+Sqn0Qk8l24LAIEtdTPQKOPWGrsImAZ8XAw6
2szv54KOKqOCYGJf1vixJrrcIh0ZFzm3CweSPjEffdNtZbqiVqoaEzhs7o1YScotMl4AHxeFDm3S
9UBk6oetEj+XqjW3dC+uBVi9ic6TePum2XrKxyEDKaXqRy6ORauXAECG9Z3/cr9vC57TaK0PZLwA
PmZdPFpl8ZDUPMdCWCkLjuaXv2XVozVgr53oelcjnW+0i2afHVauxsdKOXIxH7lsFy3dtqWYfA3f
OWwodERg2FNEkPEC+LgK8NAWD3m0zsI4JXTwBYeDiLdo3/q9GnL9I6mlY0CItjiXAoiVZpvLdknw
oakjXon1qvD7RSZx+M5hfeZAUl6tTUll/I5ovIwXjFvAxySLmbVj1apRTuEP9BqHpaPpXvm/v3Xg
aDPg0fa4vt51HwIlkUZWY8Z75I5WgY6oAtIqClsUPA4E3zls+MarMuDDqiFTkZ8sgIwXwMfiFjet
9C5vOrSn866HY/qyLZ++1Sad2L9rb/B+tI4a1WYUqLbwelvQUQohWoExzzXBv4+1SEfTbK2AUkv5
8Hq8RL5nUwhYgA9YnzlQU3k1N0qTUUCQ8QL4WKTqkQYYh47df8dn95oO2f1wrB0dJ3u+qKT+HA/d
sSU7++WaJ/c2oERF3GARAMnF0XgurRJosia4XHXTUtVjTX7sRxsAlAiAtM6kn9s9wncOK4WOms77
D0n4PTLooMxmEBkvgI/FLXbSN5+g46M73rvXz+7Yky4pj/HwpYdszaDjN3A8dkdrLKBLvLbRhabN
7GaidSSi0EHkx9TUlJd9I6pA66gCEWk3qoxZYFErysc6oHxorpecUugVUbMgEbtHmLbxqum8aJ6M
SZLgQAJAPPcLMl4AH4tYJPlEmhSPzw443v47fnWv6eAAMlbbcD7Rc8XjoQOOp+7zGkMdqRd0HXNp
sW3wXmgTw570wLCGhsdNWDutypgktXPP7a6iykdbMEF7WS58bFgpuV7QaeSee11CNRclJnCYNa4r
AR68MzOvxMuhfk/n7hgNmpHxAvhY5M78KFSPjw40fv53/OiOnx2IvNOXK+ZAw10vWnApB4/n7gFr
GZykB/K4gAfDK0IVDcqV1UCPdBpvs2NqFHeDHSge1OjJutoCXNpq3lJwPJdEdHIrre9RGvNhdbjV
JvVIf5dolVM0mINZiseDODYMPhoGHrWhmlrtAZDxAvhYjOrRGKrHb9D4/t/xb3ckCHnr4GTH1Ii+
spwW57EW4HFgi8fvB3BrLLjVBa5dJDA0PeDWIiOrgXLw4O6v5Pr6UADkWABiNelZRJYrojIApCpQ
BKIN5frU+IjU7yDyU3Jz4OFBlldm3XMtYQKHSdVDU30fuznvQcBH2ijWyljkCnGbeUaR8QL4uIjq
IRc8qXr8ho9/uuPf7s+/2AI4NO5Dc7ekGI/n7r2r7t49jqi2jAUdTWChrTMPqlQ9Engk4HhTjncB
gIfMIl4Z11pmEm0oX/WzKrw+uf4nQ4NNLddL7SgfWtqtV2bd20FGGsz16dwLux8AkbFuaQ586ubB
BCDr7t8e2RxBytxTk+7iQ8YL4GMRANIoCx6P9fjB4ON/3ev3Dkre2cI3BAQ0d0t66Jru9w/0FfNx
JD0N85KKkRaXkVSLFZsccgXRuJS6Y+rTr+6ap+OXASA5CNTcLdKvrPmYo2qANr76KB9emm3tKB9e
w7i2EFoicR9DAAsAAtPmQB5kn8DjhQFIgg+uesg5PBosjYwXwMdFVA8tvmDHdts/GXz8ywAkKR9j
wIfciSfiP7D7JXf12v+d+5pp2UE8Qyi5SRJ4HMUi7i3UHAJTsG9SnL4z+LNib6weIlpcDQePBwEe
ljsiqgo1GUm3rxrglVX33C4t2ZkxntIzpMGcp3zAYFYcU9qAJbfza3c8dn9H3fh6Z/NL2rCsC59X
ZLwAPi66c5eptW9st/2dAch3BT4O1K9ploz1SAshVzt4/npFfmDkVCDSGgvPUVGM+PVbs4lh50wI
Vpqz5fr6Tl/Bvzz2xnN/WfVT+C4rybw8uE2byPpkgWjqh6yUWxosm4MIOT5a0oNs14r6Udpgbghs
QbqGyQ0YV39fOvD41v05wUeaU1o2/2wMpdICZ2S8AD5mhw6ZWisXvF90muXCD7noHXvAhxZklQIy
V2xBqsh2DViLRTvD9dPqoSRX1ZaNs4OYFKoMfPB78U75uJvkdtFqrnjSrqZ6bNnrRoGPmvR+E0R2
mq03sfVRPqIAYsVvRNwukSJjlTGJHzOghZgPWOS5lPEeSfl4pq/KzsnlcmDzz7pA+UDGC+DjYhBi
FRTj8PGTTlNsebCjrPMRJWItpz0N4gQwtbIzzy2OUxcci4DHD/pytRy667ll52nBB58A9uJeSPXp
H3ZPpNulcZQPufDy67plMq+nfIyRAdK3vodXdt+L9fCUj2iV0yGTuOc3R7otoIOMTQF3u7wo8PHJ
IOSdTlNxo8pdpP+S1QJBA3IY4COreshJMi2ib4ry8YtOAxw/nQWv9OHjKZBE57Ef6QF8Yq9bBiDa
4jjVtfOg7Y2+0uCo+/tPBkxr4xxliu2B7WQ0Feo7naY7c9eXpXpYNVS0yrFbds6e8lEyzrwCY2PG
e/Cf64DyoaXdrnpO3l5wbaSmCSZuQIi24Xqk86DT5JpOCvFHYLMQ7fHixXugSi/gY9DiSYHdO1c9
JHjI1M6+QUiVsuOrFepPD146HtnufGMs6pZroO91qxyFYsfkzlqAxxNTPdYUCzbl76vdk/Qq1Sfr
XnhBplsBHhJA+iofY6fZ9m0oJ0ultxTrhFszlSrX3TaifpSqPLD7hQ+rpcQTmwvXbBzujc1Cidul
JTsjDUGngI9RlQ9toftgqsdPOk/r1FI6h0bvy8VEI/4XRvzPGeVj6q62mtvlk07LdzcMSOQ5WhUz
LXcOzzx6Z8DxTqfullyKrbWr2rJJ7YmpS4+ZnRRRPIp+jDRba5L2AkatYOTaAZeS5nIl4IF0W5i1
+cqVVX9QNglrNoZ2ZLtJo+NXq/URTbfF2AV8DFI9eCErLc4jLXaa4lEa/aw1NNMivDl4cABJC6T2
oGmfM+b1q+g0MFR2mUy//6BTd4s8R83tYqXtpvvDG/xx6OAgaNXGkCl80tXyJK4t30n1qXkxdZpt
pK+LlQVVOaoH0m1hS1A++EZMdvNOz2UaQxI8vKrE3tjN1fqA2xDwMZrqcRCqhybvyzgPL7agj8tF
lhLe0mmEtwUe0uVS03y1PiQkyO6SfCcS3YV4Bct4T5cd+7OcEHJVTT1f8rNQPzg4ram8wNgcabZR
gNC68UbVE6TbwuaEj0gBwAemfBwplv0X3TAcyY77SAfchoCPXqqHVUb9g84raFrulmgDs5xpDZQ8
8Hg2duUrsqv4TQkfqcIgCTVkR+cyvpeF02YWL5nyFq06WBLExq9zusYlLpe502xL4j3kuddkN9RD
ui1saQqINsY3bL7h4LGh8h5FuXlnL+Z9L+4DAA34yNKtVD1khsvPoOoxpIy6zGrxFsUXRfWQCzuR
HxA4xjXkgNMI8OBqkvXwVxlA1CaCJrOAebVVNMB7DChL257K0hxptnzsWOqHBh6Wuw/ptrBLwoam
BmsAUitjc035+jZemfXWUXS9Sqea2wXgAfgIqx6yloQFHrm+IX2qmcqJX1sUU1EdvjBacRRzKh/8
espdbx1Y+HKLF39v2bCuoVhbdi+Qd+sA3jPFgk2joDtFmm2utPqK8m6X3M4S6bawJQCIVVAvVTWV
aojWIHEoNFvKB9wugI/QYsDlYK2IVYIPfvAKpmOoHkR2Jb8EH9aCKHfkmjvjklDHXTGl0OEpIJqk
rwFHVPXQwONVgIdUl/p2s/XAY4o025UBHhJOPWkb6bawpcGI1kxRg48x4DmX8SLjPuA6BHyEFjIO
HryGxHtA9dACG4eoHjLzIqd6WHEI9YXVpFZZmBvlO/e9b5SBjTZ4na3aKTKFOQcepeB0NCazqdNs
c+pTiXKCdFvYJQDEg+40760C8FGa8eLV+fDUDyh3gA93QpTulndF8ZBBphw+Whon3sPbjUvwsFwB
l1I9JHi0dB4PUjm7mQjUWKBDAejLFRWTqbVaiq3l1qqC30GrGxBRAUrGUCTN1ov36NPjBem2sEuq
IVrcUxRAciYbzEm3y558t6GcF2F3Ch+55nGfAjyiQabNQIr3Mi84eHAA4a6AS6seEWCQvy+JRWl7
/l0E9mQ59S2dFhWT6bUlLbmjCoBUAaIKQN80W8tdgnRb2DWrITJgP9pUscqsFZFaH/LZxfgFfJiT
odc87o1Oa3pw1UOW7R4qEUdUDxmDkKvrUfVY4OcEkb7n1Y40UVk1Ax7ovGhR6aSVm8CiLbqjY6o0
zVY791ytD6TbwpaqeiSrDeVjozzHHoRHAOQw0rMLuxP4KGkex3uFzKF6WLEeCTq+0Wnr6CdD9aic
h3Np9+LSk1Vkkc3VxoheZ6tU/BAAGSvN1go4Rbot7NqUD7mR01QPrdJpyWZVul7Q4wXwEV7sIs3j
pMtFBpmOVdFOCzK1Yj0SeMhYj1IJfIm7lqWAi9Z4rxpp/OUC18aO98gBiPe9K0UZisJYRP1Bui1s
iudVUzTXQgHxUs6tmKWG/MKAubELg/LhNo+TPVws1UPW9RhD9UgPiBXrIdNrt1ekelQjAYi3820L
/j85k4t0CYyRfaEVGLPUD/mZuSqtuZgPq7CSpQRpipCcyL2JG+m2sCUAiHQ9bigf99FXtdtTLFsN
8HzH8BFVPSJda8dWPXJl1LnqIcGjpK37JYDDg6KSOh9VEDjawESiKRF70qPYJRjw2iW5yrFetseB
YhkfJRk8EkBqsqP7I+nJlQIvtQM0fSZwAAhsjPmGPwOtoXyMUe/DCpY+BJ5dQMidwUcbVD1+BVSP
wwiqh7a7zFUz1Xq4lGReXHInov3cV52xan1YwWIegMqqtglE5SF79xzZBBedTLSCdpZ02yfgslYA
xJtYZfXZlmJ9cLxJWwtyjqbbyu+vVYrExA2LbuiIzoNOrawXL0DfCxjXVEsvcBrj946VD5leq8GH
rGQ6RfM4L702KR9a87hIV9Xqwg8+kV8IqG+FU6J4lVNPCfF6+fAaL/z46KAvqSF8AW4N9cNqKJcr
q57b+bdkV3qsHPCwzoHoK2C6ITvepOR+RqFP+/5auiIRlA9YbE6V8DFGpdOSlFtkvAA+zAXL6+Hy
RnoZ9bGax2kPiuZy4e3cZZVNq7FZtdBJoM7sxqMQ0qe/i1ysOShExsEz6QG+G6Z+RNwuRH66XiTY
Mgd73jXUVJ5V93dHNllzRdA7n4rsImXyu1cUdz1FS8tjBwmLbuxk3MdGbNxKijLmAk6R8QL4CA8e
WdH0jR1px/uRAY+2x4NBpNeYSFU2n5VDLn5W59qlQUeuv0g0TdNawL16Ea2yc9Yq20rV45dx/VMB
sqj6Qc55RxvKtSONdQ5ZCTwObAyl/8P/XQS6S8DXS3X3sgYgXcNKwaOleJVTZLwAPiaFDqucOl94
uOTOFY/9iKoHkZ7pwqtrPjIF5In9/oGW0TzO24FrefYbsgO+cgDSZhZwGW2+7z7/QLZkb0Hou3L9
LeVpw84lAh5D+puUjnOreN67AA/utkv/X14PDuBDnoMS8BjDtQm7P+goqfehZYFFny1kvAA+ekOI
XLj4BP2p7PrGUD08aXAt1I+0AD4q4GH1b6kWMgFwoOIVQ7d0Wjm0JN3Nc1ns2D3cde+5797r0P1/
T/1Iu38t6+k3dPw0AIQv3rU418pRIvooH7kF2Ipj+aTTdgGr7r33dOq6q5Rrsuv+30/KB12XApJX
Yv1gKFiAD1gfBdar9luaKYiMF8DHIPCwds57tojJNMsx0/68bBetvLeEjpLiTpeCD5m982ioOBqA
eMpHo9yzT6FcWR1nZQBlLu6Du79+L9y8xspOqFB8THiSbZ+eJn3UBP5dfnXnWXf/JkGF7M6bPou/
R7oWP+grBkqqgZHnwpKum8DkDeka1nduXZHvelmTHYeGjBfAx2DgsF5zO9BI1sFYdC5jI6y0MJlW
u6RYD/7Qy+Z4MnMnQUikE6+2wO5Jj9eRu3kyJhFN/ajpK/Npy9SCFzqNA5KK2Jq+0lWjyo0Xp6J1
SI5ASJMBj5aBx4Ny3TUg46rJD6aCfJDugrHOrcpsACwXlKUCYfKGkTH3WW4XT/0YWqUXGS+AjyIQ
0QZVOxFseIBgpS96fTguDRxR5YOnDf/uTfMHnfam2dJ5yrC3uHr1WbZsN18pC57ceUfe953sAOQ9
m2TWysLYOp+f62tS4mqwgmff2LVIiscbnWdLadcqnQt/L97nKEFYn9TzSJMuDiQt9a+pA7tP1cPa
2A1JtyVj44qMF8BH0eD0Fv9qIYt9m9m5L23XYTXIS/DxGzz+7F6/0XmlVq8YFtF5oDB3kTwp8NE6
smervLeMAeKKyrsAEL7w5lJ7iWIlxUuzXaxGdencOXjsu3N/pHMXXmUoExzGZCzMu1A/tAk22h3U
Ux5zGwEoIDBrjk9uRul6saqcanVrkPEC+Bg0GFtncGpNuHJEPKQVfJ80zFwgYq7OxCUeelm75LlT
PH6Dx19MAXlk6seK/IwXDT7SgvjogIfmf60cMEgLuMwS+aDTDCit1H5NMX9xNNg0N5Z4hdIECzwA
VgaP8jRt/u+qDOjt2ff/oFP3U8kOLwJjuUqvcLvAIgqspXysKO/OLlHtkPEC+ChaHGUzNx6jsCG/
B4C2s+0DIp78nOstssRunxXle9V8YwDyytQP6S6xXBdaauyv7nM4eHi7kdqANy2L5tMBEDnRrJX3
nCPNlp+7vHY8cFQDj1zZ9UZcDw5lO0f96TP2h/a4gUHx0OYiLag/UusjAiAlbRKa4GYU8HEHRCyh
YysOLctkjOyS1tjNc8lf9hjZicVuzXbwqwUN5giAvDIV5FmoFnVAHeLugHemnFRiwd2Jg08KWnM1
r9fLh3jl73kMLL5Tpdnyc6/oq1w6CeWipLaKB8ay8R6/ptGuv0NADAACi87xVk8iGYBqZRBGM168
eA8ETQM+1IVRLo68tgavsfHAFv8Vm+hpgPqRK/Wu9Rb57M4pDW5eXZMuOJi1zJuKzv2s/BqnFNYX
+qrcqmXyaD5X7hp5cMDjg85dJekzGkdd0WAw12jOitGYOs1WZqlYKlFpVdlIamFJLQ4v+LZE+bDe
FwbT5qVowGnfjJdjQP1A0OmdwwePi5C7ct5JVqto+c4UEB6BfxygfFhxBhI+3tjPT3RaYp0/MJdW
P6yGcvLB10DvifQUWU89ONB5jAd3MchS+ZaCJV1XckejKVE83mNvTDAV2ZVZx0yzbYXSoU2Offrp
tBkI0frolATVDYUy7BxhkY0m0XlsX9T14pkG5NF0WwDIHcEHBw/pduH9VGQztye2QPLaDkPUD223
qsGHbHD3bMDHUtQPT2XSdh4p/uCBvUbgI10zHqBKdBoHkq7dk1CvZCO+nBoli5ntDPCwMl6snf6Y
abYehDQ0vJOwBlBe2nJpUbSW8v15EPMBGzoHRXu8RDNeIrU+clkvgOc7UT6kFJcGnGxjn1wB6eDp
lTsxoMZSP6TbJSkdGnw8icV0vSD1gxz1I5ddJOMRcgsXB4iGXTuuYD0q1yonr3qxDvLwqt9WVO5e
6NtUrlXglkNGo6hTpWOVDMjoWwcnMoHndo6YwGG5+cdSPiIFHCMAfSQ77mOK6tiAjysdkCQGI3cF
SOUjwUcqKS0zHNKgq8luXtYXPnjtip+KGpPcFhuxm1+q+uE1fZLR6LmHXyvkdSA7YDgXNKy5XmTM
RHRnY0mrY6fZ5lQ1zfVTOc9DFGw00KEBYz+XXo6dI6zvHC9hW8tu7JvxEm3TEelRhHF8R8qHVD+0
VvZJ8eDqB4cPWVipUib7kkVCxhfwmIVfdN7YzHK/LC3zxZoIokXdrPdJ1zi5v6Qbh7tyNuT3cPAW
RgmH0Z05Fci0UwBI7veldWrawt+PoX4MVYNgABEJHpbaWprxYm0evUqnGjwDPO4MPnI9SCzXi1bf
oVEAZMjkKwGENzfj7pdnAR8pEHaJ6oenhJADAblASCuNLtI6uzSXX9udy1gEbWIprejZp5ttBBqq
CaCBRngPpNvC5phvNLeL5u4tzXjxCo1pygfG7h3DBweEtFB76scrnfb1eBfqB58ch6ofCR4OAfUj
wcf2ytQPDzCqnv9HQkitTCalXYA9eGgc8LBaZ0+RZtvnGk/xHPWBlrHTbWEwMjYzXuD7kIyXSH8i
Le4DgdN3rHxE1I/nbuHnAMLhw6rx0FfO5gWiEnxsFADRMl94QGUCmFyH1VubaLw4kkiKqXXfWufI
NR704GXMbrYR0Bh7HHhtAsZQP5BuCxt7bsgppEMyXqJxYVohPozfO4IPT/1I8PHZgYdsLMaLfcm+
HrmmWjnTAOTTgI/kCuKxHzKgcik9Xy4JIZEGgRFgbDOHtqvXOupOkWZbBZWkscaAHE994kHGTLfF
BA7LzQs15YuNlWa8EJ03mLNaY+TUO4zhO1I++GRcUz72Q7pfUrEpqX70kYXlROplvmjBpzL2g9cg
6RuLcksQolVfLd2Za4smUbzr7FRptlrczNDvXDJmNeBqC8bdGOm2MFgJgESUj1xcWGmtj4MD0QCP
O4MPmYJYK+rHjr76kGilzj/o3P1Sj6x+SABJLpekgMi6H7JpGNqO9yusRRnoiNzbSMBpX9Ujlzk0
pKhYCXhYLqjItUK6LWzuOcCrL1SS8eKN35J0fNidKh+a+rGi89iPDwYgXP34mEj9sDJf3gV8/KR8
1dMxmuBdM2BM8d379lyxwGMIgOTiXMaEkNJy66WQhnRb2BRzAp/j5UZzSMYLiedby3hBjxfARy/1
g1c8TcqDDD5N6seO9HTXPuqHVXJdy3z5SeeBp7JHylTS+9IAUlME5jYv4PRo7I5K02wt6Fgpk2hJ
I7kodOWaaqWOwREIKUm39QAEEzksAiKa26VPxoum+nmuF0+5g9258kFsYDYCQLj6wQGEFx7j7dp5
AN0Y6sdBUT9kD5pHOo/94AsTbD7wyFU2PQR39954tZr2bdj93wgIGQIgGkhpu7ya/U5ek4rseJlI
3AfPBkKJdVjpHF8a9+FlvETgWaofyNgCfLiDVFM/eOptAg+t54ssPNan6Zymfuwz6seToX6sGEzV
A88H1h9EGmdyOpLusvNcCxp48P5ED4oKpgFIH/jQujCnuKRPMc74//GCTyPxMFrAHsYxLKp4UAY8
NtQ/4yWXcus94/J97h5C1nc4QCWAJBcKd7+8CADR1A9eeGws9YMDiKZ+PDnqh0y9hc0LILkU2z7B
aBXZQdIcRBOMWgDSB4YlePAxuWIqmwxCzQXsWerQWB1/YbCI8lFSCdmr4WONX2S8AD6ykzpPvd2y
iV3r+SKDT2Uxmb67NC/2Y8vUjydDAZEAggF+GQDxJqUSAJFukzSB8uBo3hbg2RgLpeqHdLfI7stv
TGmrSA9EJaGIDIW0RoEbGCw6t0drffTNeBljkwH4uKPB2YqJvaFTOfuJAYis+2FlvgwdYBqAyKqn
z2RXPd0oEiIG/DyKB1G+AmI03qMydnAckJ+6cflH9/rKxoQ1FiJl5vn3SOfN07+3bM7Q4lrk96p6
gscBkzdsAHhYQacbOo2VkopxHXzmo7U+kPEC+HCluZYNUNnz5Z3tLnn2iyy73ijqx1gAolU+5QGo
n4b6oS0ssGlVj4hLIdonxnK5pMDoBB9/dq9JAUkwynd0JfAh078TAP/szqGiUxdhOnI7R0shioAa
ylTDvHncg/ac28XLFPPq3CDjBfAxSP0gKms690rnWS9HMSkeqV+fDi6PWwAiy7+/CwXkoCw6sHnU
Dw88ctVNvQm1EmPzkSkf3zr4+Kv7+YVOS/APhY8dfcUdbRh48LikT2UHmbtGVrEmK+C0BUzDAgBC
pKenr6msA3buWUfGC+BjVGqW2QS88JiseKrBB9FXCmIJ7WopldxtIrNgPpTzSCrMA51m4MgdKCbt
caFDW1iPmR1RNJBSm0BlTZpvTP34s4OPVAV3CHxw8E1xHjUDjzQGueLm7Rxzk7dV8wPFxmB953Or
wZzmdukLIMh4AXyMrn7IsusvdNrplsNHw95DBqFGF3yZny53kTITZifOIxJ/gol7WgCxOtlGlA+t
joWXZstVuQQgKf6Dw0c06FSCVDrvTwYeLVNCtEq7NcVSFiNlqmVnUJRZh5UCSLTBnFTtKmV90DYZ
yHgBfIw+WLVJ/pOpDhp4VN3/478vzXyxzoOnTZZ0S4XbZT4A8QIpIz1LvDEhJ1Bek4Y3REzuwWcG
BUOVDw4eewM8crVFZNGxiPIRLbMOoIblVENL+dj0UD6Q8QL4mET98Mquf5Le3bZl4PFOehxIKXxo
5/FA58GkXs8Njdhhl1c+coup1UTOKjL2yI4ndvSFD6l8cPCQNUW0GjM55UO7XkeKBediDMNK5vSS
uI+aylLTkfEC+Jhc/dh2E+8LfUX184kxxYpwN82+J3zIxYdn4DyyyV/62K1dIKS9yyofYzWUs3pU
PDAI4Uf6nYz5oMyOjgR8JPA4KO9v7Ry1mI+qcPcYdVHBYJSB95KMl5qQ8QL4WJj68UinkcxpQBGD
gyemfOwH7thkcak1nWbfpIJSUg2pnEUFNq3qMUT58JrJafLxxjlk+ejSbsfSH33MfJbVmjzyGZEG
cx54YGzDovNoSaXTesD4RcYL4KM3MRPb8a27AbM1BlHNVIlUen0s+CBB7by4VPLxp8BCL+APpdan
UzosANFiPvqqHlrMhzeByiaDpSnX8rt5E7YXsJfbOQ5VPqDowTzVI6ccanU+tDEcARBkvAA+RqVl
qX40Cnikv0uqxwedx4P0lYk19YMDSAouTADyQHq6I2weGLFUD7mIyuwNr2NrRfFS0Stl9xZVIuS4
a5TnoOSzoz7zXLExDUBgsD5zuRZ4qsV95MqsI+MF8DHZYG3ptPLpWgy0ls7dIc9C9Yi0Sx8CQtIF
wxWQnBsGNr4CIrOQtPTRUuXDaw0uJ9CVAQCWspf7ThJ6KgEgqx7gYWW8tOKaHYOTNtQ8WHTzloN3
S/nIPffIeAF8TCbfSQCRMl5yuXDwGLPXC9F5YzFZgVVmH2h+fkDItABCZFc3LQmerDKKRxQ6tGPI
5K0F7a1Il6z7yNaR1HFM3LC+86cVdDqk0BgRMl4AHxOqH7zRkFwkVnTaZ2MvBtpYk2Uu3fKB7LTH
qsfOFxaDDW6ey2VIi/jSXVs1guJVGQqI5zvvWyHSq/cx9NrBYDmAtsZwRbbrBRkvgI/ZAKRm18mK
wdiTXpFxrEHmPUAyw0E+RBjk00FINHiyr9sl53JZkd2bYqyYH3ketaN6rJyJuypUP3JqEbJeYLkx
21I820WbOyPPPzJeAB+TDWKi8zoJfBeqBRNOIRFrO1CZAWH5LaF6TA8hfdNGvTTb2lE+NPCoR7zn
Y7h+prpuMFjpGI5mvfR1HZb0c2qU97nLORrwkVc/SBmQaSBbAXFj78is5nM1nfeCkY3p5MMIG1/9
aHrs4CP3PBepXxos13fs5RSYXNwJ0m1hl7I6ANAWyJdkvHjxHt7mA6m2sCyA8IW/UQYhzbA7syBE
xqhUmKAvAiB902xzKpe1W7NqbEy1c9QCT+dOt4XLBZabH3Pjd02+glcat3QMqB8IOgV8DAIQEjSs
FZua8yGTC45VYAwQMg1wlKbblRYYK5WLx4aQaOxJRLIeO90WBus7fsfKeNFqfUTTbe9+DAM+4gu9
VEEs4GhnOh8NRLTzAHjMo3p4yke0R0mf3Zo3WY6R+eJl3XgAkvt8pNvCpt408j9PkfES2Xzksl7g
doEVQYi26M+52FfBhw42LmzIn6Pt4ceM95A/yzLq1YjjPBJ4Gqn3ISfZMdJtAdWwiOoxdcYLV+4O
zgH1DvAxycJ/qcmwAoAsUvnok7VRUSzOQvZT0VqBVyOPMV7p1Ns5lkjWROOl28JgEQgZM+PFG7t7
Ou+C7sV93CVMAz6mVSJgtw0dJW6DXJqtnCwjAZ6l6YFDd4515lz6FBsrATcEnML6jOEpMl7kGD5m
lA/L7XK3Kl6N8QmDhYCDSE+5i7gMSvv9REubTwUeEqq1CVyLQeHnY53XkHRbFBqDjQEhY2a8eIXG
NOUDyh3gAwYbrH40zs7Ha6sdTbO1Kor2DfIcOnFH641Ey7z3SbcFeMCGgsdYGS/a+I3EfSDlFvAB
gw1SQXIVDvtka0TjPbT6HjJDZczJu3J2jbnzsibtMbvbAkJg2tjlPw/NeNHGb6TKqad+3O24BXzA
YMOUjyP1y/PPLfJaK3tNYZiysqnnM+8LHhHlw4ubibquYAAPC57HynghstVPK+jUGsN3N6YBHzBY
GXBEdz1jx3tEe6qMVVysRI3p0+Sub7otfOawoSA9RsZLaa2PA6Fo3okh2wUGGwYiOdVDNpXKNZSL
BpuWxlcMBREr4DQXCFuiIkXSbaW/HBACK4H5sTJePAAZooBC+YDBYEWLpZWlUVJkbEgflamzXdIh
OyqvKd5grhQ8vIBTQAcsOn6tZ2toxgsfx1bGC3q8AD5gsFHAQ044uYDTPtVNl5Bmq6kyXpXTkmyB
aLqtJ1dD9YANHb9DMl60oOnSHk93PYYBHzBYP+XDk1qjfV3agkX+Emm2pQDSt8ppTkXqC3IwGJFe
r2ZoxoucD5qA+lHS5wnwAYPBwgtmridJbqeztDTbyMTtZeJEA/Y0kIsE78IFAysFaOu52lD/jJdI
8HkEoO9qHAM+YLBxlI9jjx2OlQ546TRbMoAmN4H3UT+szKFc8C6AA9ZnPEdSbodkvJQA9F2rH4AP
GKw/dDSZXU7pgrmENNvouXlgtKIyyToCHgAQ2BjQIQNOc7U+xky5ReA04AMGGw1CStrAX1uaLVEs
3iMHRZFrGgne9VJuYbDIWNaerQ07pPpRBdfJHEAj4wXwAYP1Ag75qsmsufiEPqrHpdJso5P3quD8
KgfiWud65naNABBYFKArsnsU5VJuo2MYGS+ADxhsMuWjySgf6e/a4II5RPmYU/3oC0hDr+eBTsvZ
a9cTEAKT49aC+5pst8t6pDGMjBfABww2GnTkMl36FhejwMLuTYpLcL8McbvkqkT2KVUPg1ljWI5d
ze3SF0CQ8QL4gMFGgQ4NQCyJNVLfQwJHrr5HNNB0ysyXHByVpNu2BUBXUjcFBvOgQxvDEfXDg3xk
vAA+YLBZFRA+eYxREKsKTIx8cefZJHNN2lOk22pxNEdn8gZ4wPqAMxlj1wo6LRnHyHgBfMBgk0NH
LjNjzJ4uVkzFJQNOx0i3rQqurad8NBmlCgbTxi8fw57ywcdxtGYNMl6Chq62MFgMPCIAEqnE6ZVU
t5QPr+Mm0fWn25Y0mLM62wI6YBEFJFJiPZK5Zc0JyHiB8gGDTQIgVoptLpo9Mjl6C/uQrptjT+JT
pNsOBRAYrASiSyud1oH5ARkvgA8YbDIAiaoeXpqtpyp4Da+0ILi54GPKdNvctc0VGQOAwErHcaS5
3KrweUPGS4HB7QKDxaEjukD2LTAWnRRrmre0ujZx91E+5DWtSJetjwG4A3TYY3Wse33rqoenMvK4
D20sW1lwY2S8VPcwUAEfMFh/1UObYEokVW9C1Op75NSEqTNfiPysHA9AcufXJ1ug6T7nnhWQdmQI
qYL//5qutYQFL76qr4sTGS+ADxhsdODILZB9i4vxyTFXuMvyQc8RbMqVimihMU8Bkbu70gJuiPk4
H5caELQ97rVVi+baAYQo7zZMKbdDuzQj4wXwAYONCiFpYqnIb34WWSCjDeVk8JuW+jenTMszczzJ
eqxKp166rbVrbGccExYITA0drXEeQ7MntLoubYEicg0AQhTLepHKh+V6QcYL4AMGm3TSb2i8NFsJ
IZEAzmib76l3jZ6LqG8Pmj7ZLk333nPvHC3VYU7waI1Fr2/TPa+YnFxwWwPCrk0ByWW7aADSF55L
Ml4Q8wGDwdRJnkgPJhuzuumSwMPbNXoxKnXhrrEvgEy9c1xCPZHWWOC0IwK9HnTUxlFdMXBYIF0S
4D1Gxos1TzTK+9w0hAA+YLAyCOHwYbkE+qbZWhVD+wZxzrVrzNUjiZaBL023HcPNULLoa0A65Wdr
56BlBOWyKLxzTPelNu5rurccQq7VTWABllUwzyrsV5Lx4sV7eCrpzasfgA8YrN+us6QORV/Vw5J+
52ooF901rinmM7fOs0+6bSRYb+h18dQZDUDaicdgy65NGnN7+pLz91RWjE2CB1+EU+DlpnuPdD9b
ZeG9FvBoM8+dlWHWN+PlGFA/7jboFPABu0YIoBkmfc8dQDRumi2f/L1+KaUBnHPuGvuCR0T5iFSQ
1bI0tHMvVTqsHW2jqFtTjEdtQUvXYtcdn+znHdnSvndP+X18YMdW+f/VFS+Wc2S85Koge+m2dwMg
gA/YNQLIpbIMNLeLJXsPjfeI9kyZq7hYGzhnT7K2emOQs8hH0m2bwCITBZFICrBcWCwIGkM6l+Ob
L2a/IeODHe/dawIRroJYC5u280/A8fjf8cT+v1RK5nruphrPRNNlvERqfeSyXuB2gcFuAEzGeF+5
4y2pWugtjNFg09L4iaknbivgNBcoWwJ52uQt42rkRF1ljj6qV+MAkQUhU0Bvug77DjJ+A8fbf8ev
7njrfscBxIJhqXpw8PgNHc/dZzV06mLj1/EWgk6nynjhrsODc9xtqwDAB+zaQcNLL2xH/hzes+Xg
LIxTpNlaCsKldox84dKqREYazLUF4CF/1twJ0XTREgjJyecRCb3qOe6sc+Dg8YMdPwWA7MUCJ3fV
fNxp4NEKOEn3tLmBnflUGS/eGN7TaYxOTi29aQUE8AG7BehoAiAyFEZaZzHKZRpEd2BLTrO1Jm2r
ymmJvzyabmtN2NysFNFckK7Wa6Z1FpCdsZDw+iNTqB47Bh8/O+j4tzu+MwD5IN31Iu9julfJ1fLS
fUa6HjIG5EjnWS/XDB1jZ7xY980DV83tglRbGGzh0JGrcxABkMrYPVvgUZIGektptqUA0rfKqXWN
tQk79XchsutUjHEeHDxkgCePsTjQV1YIh5BqwFhP55Cg56MDjJ8dcPzz3/G/DkB+MPVjl4GPdG02
9BXjsWfXlP/+QNefmTFnxotXaExTPuB2gcEWBhzeZNw4qkPpJJkrV27thK1sl1tMs5VwFolTiao2
nvJxcEBPujc8kPN2r1XmXnPw+KTTYE8eY5EyJWrSXUtVwXiXn5/A4zdY/GKqB4eP793fSfholPPg
sR6P3WdQ9/vfSsgzncaOaBCDjJcyldSL+7irlFvAB2xukIhOWFaqo5c371UZ7VtmOrojH6J6LD3N
ll+XlvSYihw4lTTmKgG9NgND1u61DqoeDdux7hh4vLMjQciDAh8k1I82+P0bRfH4ZOCRXC5J+UhH
go8PR/nQXC4HtiY8CjXnFhfGuTJecvOVpX7A7QKDDYCNaCEm73fags/97js69cH33U1EMiRasisX
WmlzfZSPJaXZRs/dA6dVZtKOgod1rYnOi57xIlkb5VpWzgLCYz9khkkCj5Rl8tL9/MjgY0X5FN8q
A9pHAzzeBHgktYMfye2iBZzKa5WKiFXdzzsF7rzA2WteIKfKeCE6bzAn3S774LxxsxAC+IBNqXJ4
VSEb0iVv7f/JiThNxvyQvndNli9Ne9V269Gqm14BrGtNsyWKxXvkoCkyfqJxH3yXKLNuHhh8cBmd
398moD5Y6a2/IeBZAY9aeT8vXsfKbJGulgQePxXgkBkvPNtF7qbTtVqzc3tQVI6hKcvXAh9jZryU
1vrQYpjuQv0AfMCmUjpywaGaeyO6A5TFlWSBpQOVBchFGmpVGTWmtLT6taXZWt/BUj1K022ttuQN
+VVOW0f52NBppob049cZFcaKuUjw8dSBx5ZO3S21eI8N+dVerSqmHDx+MsD414COX+JZOBjXKblc
iAGYdh37xO5cI3SMmfHiAUhJmvbNG+ADNjZ05NrOH8TkTJlFSE7Eb3RaWIkXV5IAUlrsy5t0ZUfP
odVNhygfS1I/+gJUbjx5VU7lpE1iN5+gY9sdEkCsIF7N9SKVjzQG5Xuvheohz10DHu07a4XEeHAp
PxKAaOCRc7lUyu9zbocljcEhY3fqjBcLYLnr5e57vAA+YGMCiEX5PEZjxSbnOrBjkBM/3wHyHV+a
fPnEK3d9bUByzWWbtIXKh5fam1u4vUn/GtwvQ9wufZWPtVA8tkyd4G4Yfl4N2V1KNQDe0Lk7h8d5
aH7+jQIg2iJ1ID2l9vdYT1kt/9BpXQ8+9nfO+CfSM6WkWiTBamOMxWu2qTJerI1YNH7pWjsGAz5g
s8GGpXrIxlc8NTGBx5Fs37gW1Jneh9c24Lu/H8oEHHG7WLsebXHh8NFm4CMaYxJxWXhy96UzX8ZK
t9UKfHnKmVWciXdkTemj8uAQIsuPawqcpkZIVaBWFA8OEVtFdanoPLCVB1PzlFpez0NmtvCiYp90
mhZ7JDvV14K1RwYfWwM+biX+Y4qMl5yCp6kfXo0gxHzAYMpCQaS7IWQ9hDc21o5MAZHxHtrDKuVu
ORFL+PBSDD3wWNN5rMBGmXjlbibXYCy385Lgszbk3oqW09dlynRbK/hSc3HJVNuK3cMtUz1SoaxH
ZUHlIKOpH+n3B9LjA2pD8UjA/NQd0j2jwQfvVMtjS3hmyz9M+fgRUPz496kp30zukZ0zv14aaN3C
wjhlxksu5dZqF3AXGS+AD9hQEPHKPyffeBpnqS/FRkxiJGRKrbDTh6F8eJOw9UBri6aMFdCCFCtn
YRwj2NSKmVhywOkY6bZVRrpuAsqHTB99YAvpM1tQn7px9EBfLoqVo35IqKgMkOLxIfwZSJ8t1Q8+
9htF9eDjnWe3yFiPNwW4I2NejvdHcY24UrRRVJtbqvcxR8aLLJgXbUqJVFsYrAd4/KAvV8uhmyS3
pGcF5Fw31mQslY9cRUYywIP3sNBkZ17CWy6KDcUaymnFxTTlw4uwX8KOc+p020iDOS3uoxbKB19Q
nwWEfChjpSG9YysHi6r7fxHweM3AR0V6+XQtpVfGOfEmclZBMO2erQzFg1+jZwYglmJza9AxV8ZL
Lu7jbjJeAB+wvuBBDnyknSWP8fgUEq6WQdJk4CP5wH+xCTgdWryHBwAaeHDpWe781t17yu/dUP+G
ct6ENyTKfu5JfIp02xyAWGmksmT470X0hR2/hFqwz4wXrn4k94u2yFhZKhp8rBXl46DABx/vMruL
x3lEVY9aUT0keLwI+NjSeYDuUiB4yJi9dMZLBEAAHzAYe5As10OaON/F5JrA44mpHqtC+JAT8pty
yIC73A5Q83lbMQJp8rXiESy5NBJw6sm8VpDf0naOY6fbeuqH1d+FnxO/p09sUU2HTMvmY4YHjmru
F29xkbU5npRxlIMPWUn1nSkcPKVcg6cceKwMZYhfH035kJlXpFzzW1E/kPEC+IBdAYjIifeTzmsd
JCDhCsLK2PVq8GE19OKT8GfPiZjHB2zpVKKXsjNffLQgsj7BpqV+5qVBSEnWTu78rYyXlvQmgtqE
LeMZJHy8kl0TRquYqql80hqyXY9ahk0k5kMrpvdBpxV994HxrilTGwfMXoXyYbmKbsmQ8QL4gF0R
dHDpMu3a+ALJd3MfdOpu0WRLLzjroEzK/HVnTMRNAXjIHaCUnVMZ6oOy4DRUVt+jKpR5vV3WEjJf
vKwdD0By5x/xl8tCY8Ten+/un5nioUGrNW6aDIB4lXj5uJfgYcGH1reIj/MdnVbwPWTGnafypfH+
Ko4X0iu3yniPW1oQcxuBDSHjBfABW7TyIVMOd6RXgNSKLOUARDZl2pPfmpoKdoCPdBpsl440Aa+6
c5GpkQ3189VGCnNpAW5LmPStdNvc9/EUkDYwHnL9dGSl05aB5bOiInwoi7mnYEkAsZrgJXDY0GlB
Mg5jsqw7h/ijM9a1ZmQt2e7FOgMeLww6vgnlQ+tXU4sd/r31eFkTMl4AH7BFwQcPxJOR/3LH4Mnu
lo/U2jEcCyZibQf4mJGe0wTsuYeiabbRhnJyktOu2ZImIi4/rzKS9RiVTo/k+8m566VhcPlCp667
aDPCI/kpuFa80l5RtGrKVzhtlB2xtUBZKpuneDwyxeNbd/zBxj1XPjbkl4W/Nejwau5EUm6R8QL4
gM0AHpUhT8uy6FYfDa+leGPsGPq4OyKKh7b74zEfSekgOpXYc8Gm0aqqVoDmkpt5RV1IfXvURLNd
rO62yfUiM0k0192e8kF/3qtUQGr6ckWuxGuut4uWRSXPywtKzBURk+P9DwYhr47qcYvg0WbUSFnt
WGtKWAfnS2S8AD5gIwIIKTvA9KBZnWFzLcWtdEvvtWQi3jgTsSY9c5cLkd/XpcTtEilNvvQuolqw
nhfDUlM+WK9vuq2mfhBTP54EgGiqx9FQzo4MPskYb9wtxyFEfl8rVsAa343yHFhjnch3tbwI6Piz
e00AIqHbSrG9pUVRQrSn3nkpt9Euzch4AXzAJoSQxlhgyFlAW0OuzIFJdCLeZCbib4rysRXnnYv3
KAk49SqC9g3SvOTkXVKvpE+wnpdua6kfxNQPGUshA5UPDnyQAE9tvEoIqdhzYCl+VWbcR8a6Nq5W
bLfOXYuvDDb+ZPDBVY807q3gWFroOBxrDMt2C0M7/CLjBfABmxg8WgUyGmWHHH3P6Ks3EctqjnIi
/iYm4zQRJ9VjQ7rLJef66at6WBH1S2kol7veluqR+17WhB1Nt7W6t66E+hGVu7XvuKfzInMWhLTG
vdKylVpn/Ed2v9p44t1pE2hzteOv7kgA8o2pfTLDJRfXcIsKiIRoze3SF0CQ8QL4gI0MIZWg9NaZ
cHMgQ5ndJTk7Ma1Z3IMzEcsdIHe51GS7XHI7ldwiXdFpPIAVG7HkyqZeeeq+4FGyazyQXV2Wv/8m
M/Fb4CHvV8roOgZAuA0sGN5iPqRWDI/xeGGKx1/i+JPOYz2s9Npb7a5akV3rI6J+VIo6akE0Ml4A
H7CJVRDr97mdUztwAvEm4twOUPq9N8oiYsV6jBHvEe2JspTiYm3gO3m9MSrqnylQUu10Je5f7h6S
shClY8d+X9LJuB1xvFeO2mSBxzc21v/uDgs+NuSnxd8aeLTKGLaUj00P5QMZL4APWM+HcwiIVAMm
2zZzHlaRK0vxeDbAg8MHn4RTp9NDRvWIAEg0zdbLDFn6GLECTiOBtH3Vj1yFWVnI7oH0rJI2sAjx
g/vpK+Ozc0pe6TOXyy6yKpf+wVSPv9mhjXnZe6a6wLxSXXAcV4Zymku5zYG0tXm564wXwAesco5L
TgwR4PCqa2qVHL91k+7fxg7wmakeXGb36o5Edykl9T08hWCJ4CH95ZZsnftubWDn6KkeMiBUC8Js
HVisMgC1FgBSkx10rNUFqXpe25y6ZFXqTeP9T6F8pDGfgqs18NDUtnaieWXM/zt0HOfch17bgxxA
y2q4x8BmZogiDPiAXZWyMedDP2SR04pbWTtAHlyqTcJ8B8jLqWv1Szy1w7pmNcVdLX0bsS0BXqNt
yXPuJK8OhlX/xevnQ3TqfrFqsVgVLjfiSEXK1mSX9Y9mqpRCh2wPYDWJk3FNPMCUB5nyHi5jFRTr
M69cegOUS7nVgk7XdO6a42NM+x6NAiBe/BJiPmA3qXQQ6b5t64FaCnTwRaIWi0TaASafd5qIv5Ee
6W+pHkc67z3jVTPVzk/bfVs7qog/eekA4u0aN2Sn32oBy9au0io815ItVdfs92uKNRzkC86DclgN
DSMFwdpC6KgctUOCR6pb8wedp9XyGA9ZxdcLopxjXon8+8r4rCnH8dqBUDmWGwc+LJjWsri8as2A
D9jVQkduNyUXSJpRAqwy4FE7u9MHAR7PAjy07JY/hPS8ZYuhjFpvMrtlfh15mjHRqQ95YxxaAyur
TsrSyqtrC/g683039NWPh0MF0bkLRwMxLZDPqy7Lg0+tZ0NTPB6YMrBlx7sCIHuy5fPcMyQX7Zza
4YHHNwEffKzzeh5WnEcJeIw1r/Cy+CXZX2M8D7ky6xsFROVYTmP3KMZfTXqF25yi5/UYugkFBPBx
f1Ybi4R8yI7s388V/FRlwMOLRE+LwhPpRcT48Y3Jzhw81uz7Hikf/LcSi0Kq7HoU10pWnHwQi5rX
+XTJqbakqDu1oxzwxXunjDEP2DwgI8r3OeHvG93tynuVwPbXf8ebABCtzT3f1XoA4oGHpcTIhoh8
vHPglqXTn9n32FA+zmOOeYXE/30wFIY+pc0j4zjnetsoYyEdn939bsWz3wroXZGeSaSNX6vGB+p8
wK5W9eAxEmtlkk0TWsrwWNG8kdeRgFJtZ8oVjyc6bRInJ2LZOvyJTktJk7Prq8jOMEgTg1Yzgv8f
DkiPDHy4332oBH6p8eXF3zyKI03Y6d9K+ODvZQGaVfnVUxYi8JFzbfxkAPLRQYjWqM6rBSN3sVHI
lmP92RjvrwKwudqxFYt6X8gda16Rz9ZGPBsP4tngNUjGgnNtzlk74/iJgUf6Tnv2vciAKmuT4RXb
u0kDfNw+dHjSslQM+MO0Fg/T1A9CCXhsFMWDT8ZcgpYHn4i3dFpKmme2ePUU+ES0Y4voA/n1JhJ8
PCuLgpxkrynglCjf0Czdmw82xmq2WDfGpL2m0zLhj8p1WgUhrRK7dO3IwUf6Hlz9sBSQfQBAiPKd
VTfKQv4k4EOO8VcDOh7IruURhdyx5xULPp6NZ9W670MBXYv9sVKYP7rvkRSPDfterfO9tsr9sNSQ
mzbAx22DRxtYQNMDJSeIrULyc8OHpXg8OLuRZzbpvopF3pqI+e5Da4pnNaVLk8+aXT+58+EuhHTO
T+R30d04k+vSlTUr/dOasHfsumkLcrrnvBHg84DJW3PBWEHMlpvjV3e806n75UNRQLRsGKugmRV3
Yo31Jza2X5Sx/iyUtWhM0dzzilQINwzSZZyKl5kzhkIo63xEx3Hu+ZfK5wvpVWWvYcMB+IAVP1CS
5nnxraOYIHbKwzQnfHjys+WLf2KT1LMADu7meFBk55JJ9YW5DdZMATkoO3gSk9kDnVdbjdZbuBYA
WdN5b5FPNmEnlejDgQ9v0pZpormqnJWxY28D6o3Wkj4t9u9C+eDqh9U19+goHzJ7i4P21oAPOd6f
2MGhQ7tGtXN95pxXtPvNIZ33XHpSAH2MgmiaAuaN46SObrr7n/te/Pl/ZNdnqnRnwAfsoqqHtqvb
iAeAB/6t6CuISltM2wnPV5PF+WTMI/35TlCblB9Jj6t4MCbiSrlmcsLYsuvFd3KPbEKyeoTwBe1B
7Or+MBZTbWKtFjrWcrD2SqdBeZvu9x9scfau21pI8a8OgESCJjlo1sp9z6k4Tww+PgR4JKCy3C+5
Uu6W6mHFzjyJMb+lU9fUmCncU80r1iK9pdPKxFo1VmuhrgbMl7UB0TsFPJ4ERGvfqzJUHQ7SzwqA
LLnAIOAD1mthSA/TQZkg3pmEKBeFS8KHNSE/CADZKocGHd6kpZVpf6TTzqYJPF6U3buMTNcmaVkA
TeuvoYHH0tJsWwc+HsWiW7Hr9sEmc6+xW+66ebUqvOtWiXtUk98zRbo+PtkhFQ+ZfjsWfFhj/dEZ
615Pnb7jaex5RV6HtXg/CzhzGVBD1Dse7OyN43ex+TjSeUCxVFOkGycyjpe6+ZgdPqyqfTcbmXvl
AFIr5M3lwRWb2D+VyXKue1uSWruh09gPPjlvSE/Xi6SwygA6fr1a9ndbsePhE6q3iMrdFM/OkfLr
NTX2qowdHp+M04LyYuyCW2fsajE3L4ZiFJWsKwekcv1T9vTlWuHAsWN/pwWdaoBaFcK2dVhpqfUI
6sDU8wqHQO05yd3vsZ4Ty33IzzkBxDNT7/bKvbXeUwMQrn6M7VK6GfhoAz/DlrczTQNf9sCoxaIQ
WUzngA8tAJBPSrLkca76YLRNveZy4QvjismtO7HjsUBNW5hlWexH0t0u1yC7artgDhTp7x7o1E2V
y6aqHHCTbjYrS6j0OeEqiJVpxRuB7Z3jwL7jgfIBp7nKmlbRtkjfkTFTtqeaV6xFWrq8vCZ4Q4GK
A1BDX/V75PO/FQrXMQPRRH4WzaOx+YDbhfq1jIYtUxJvxcOwYW6Fg7FDm+uc+WRsdRddk96QLQoc
uXiA9Jlyh8ozVvYKeES62lqpnA+UDzqrrmicbRQp/aFwnMmOuVrQ8Vbs/PvK8PJ7tGSXx9/QaUOw
g3NEuh97ap/V3Mzrl5Prm7PUeSXynFgp6WO4krT0eDkO1uJ77RX1rg0AutyE8LGsxaTRAuYATWzo
vT6sgx/YKn8GcFwPhPDAurWyyD7QeWnoluZ1uUj4sKo9apNzrfxc03kRIm8itmI0ZKXCNFkcjEkn
V+BKq4xqNa66poh3ObmSAR9aCfJc2fFcsy/rupVO2JUxFtLClMZhIxSeY+ZoHNXDUj9qY3yvjLGu
jXeaEFynmFf6PCdjZ4R5xehqQ/2KzgEV6TFlUs0dO5ZlagDptUasg9DRZg7Y8tUP/kDJB8BqanQJ
Vcur9xFpPuUVkPIWIy3iXZt4+IITmXSsidVTdK6pqdwc46wiu0GfvG5juKqqzHfkjeoa54j2d8n1
dakNqLYAmyYeN1Pe70s+J94coClffeaAythQrQ24XGLAaRsUKorgwwoijR6w5S4ORHpEf66Z0SXh
Q1NBvJ8r8v3bVcHna5OqFs8QvVYeVOUA6t7Hmde4TLtu9UgTduUsTi1TQ7QGYbIZYZ/GclVGwZNF
0vqM96Xd7yU8J3IO4MUHV6R3nr3XOcBqfpddN9aG7GxBhzWYBvt/YLPtSuWuwruXS1jIKrJLr1fO
v8vtZPtcq3YEQPPKyEcA6p7HmXX/64mvmeWO8UCEnA1aGxwXkTE/N3DMdb8v9ZxUxn2WytuQzbfX
sfta5oCIEOFel7XyUMn/2GQOKB/XtTBUdN7yeUnQEVFCiGJ1HMa+VnyBGXqtcosNLXTSufQ486B0
6oXYixFqlfnTex0y1scc79d2v+d4TjSwqgzgvLbvNjV0WErI2XVaZz6AS0vSf3fMSGo3XZf+SgGE
lMmiIr1981LOt2Syra7kWlWZRYeu+PmZ8tp5Y2Dua5cDEa/Lbruw8X5t93uOex1Ru671u40NHZ5H
xLxO68CHNAp8aJ0a564JARv3oaIFgmM18O+XfK2qC32nWxhnS7t2JeO07Xn+1Z3e70vfa+kRqDK/
v4c5oNQrQpoS4gWcRsBDq3HQjnBTYPNPmEu+X9UNX6sK4+zmrl1lTNjRc65wvxc/B4y5UbsG2LCg
4+jwgCtIrDMfpIFHqtp3MBSQluB2uYVJA4ZrhWuH743vfb/3tDXUjpZidW3cgNw6I6twAJHQIQEE
wacwGAwGg90WgGg8YFX2tTwiEmbO4MOL9bB6GRzId7/AYDAYDAa7bghpAvBhdW92lQ9LYjkK6OCd
Gz0AIUAIDAaDwWBXDR2aIKGJEQdHjCAPPqwPOwoA2YmjpLkODAaDwWCw5UMH/zmt7QdDjEiHpX6c
MYEX89GID+Qf9Elf7YR3gnq0BkoAERgMBoPBrgtANHdLAo/PHkJEm4MPDiBSYuHwwSFEAghiP2Aw
GAwGuz7oILGGW+EXlhBxpIwnxAs4bRXa4R/20R0SQEKRrjAYDAaDwRavemihFx/i+DTgoyjmQ35w
o6gevz/svTs4gOwZgCD+AwaDwWCw61U9mgB4pGMU+OAfzqlHg483ASHehwNCYDAYDAa7HtVDAw++
9r8LAUKu/0SFAaee8iHB4416Si8wGAwGg8EWAx1aWq0Ej7Tuv/VVPqzy6rxpTuMoH78/+Nd/x0v3
89N/x/a/46F771V3XHObcBgMBoPBbh08SKz7B2XdT2v+LwYf0vMREh1Wxu9557501Awm1t2x6UDj
ofs5HSsBHrV4LwAIDAaDwWDLAhDp7UjQ8Rs2fv53fP/v+Icd/3a/+8lUkB1TP8ys1xL4SBCRIGQj
Dg4gXPWoFfgAgMBgMBgMtgzo0OI8kuLxZoBHgo8f3d9b6keR8iHBIKKAbNjPawVAKgVqACAwGAwG
gy0DPKTq8d6BxY8ONCR8fO/+TqoezVD4sNwvGoB44GG5XQAgMBgMBoMtAzyOpLtb/u2O/3UHVz1+
dZCyE/DhZrmuCk60chSQlQCOtfi7iOsFAAKDwWAw2Lzg0dJ5VmtKKPlBX+6W/7FXK9bjGFE9IvDh
KRW1ooJoBwcP/kpQQGAwGAwGuyh4aLW8eJwHVzws1eOTzturEPV0u5QoILWADQ88qgDYwGAwGAwG
Gxc6iGxXC6/j9Yu+4jy44qGpHqm+l8xwoSHKB5HuHqkU9YNDhgce2uF9LgwGg8FgsPHBg9fy+GDg
kRSPf4TqkUutDXezjyofVQBEJJBI6KgDCof2d4AQGAwGg8GGQ0dO8dAyWzR3C0+tLYr16AsfHjTk
Dg9i+n4uDAaDwWAwGzpIQIfVMoW7Wqw4j+/0Vd1UUz0oonqUwAeRXiI9CiUUhIiICwYQAoPBYDCY
Dhya4iF7tfA6Hqlk+ncDPDx3SyooJoNYR1M+opAQgYPWeLV+l3tvwAgMBoPB7h04otCxU8CDu1qk
4vGPAA8tu6W4gexqpC9fkd46tzVgI3eQAyEtwAMGg8FgsCxwpGPPwIM3huXptFqMBwePX3RaQv1A
A7rW9021JQEcOWVDBrvIiyR/32YUkohKAoPBYDDYLUOHXEsTdPBMFk/tsLJa/ken5dMt8Ahnt0hb
j6B0pC8plQj+91L2SReDH8/d6yN9dcqNlGpHPAgMBoPB7lXpaB3VQ8IHT6flAMLjPf5lv0uKxzvZ
abW9lI/1wC+f4IK6k9kp/07Cx0HAxwc7fgPIkwAQ2S+mJr9fjKfWwGAwGAx2TZDhKR4edETAQ8LH
d/b7X0zx+GCKh0yr7eV9WI90YXiKzc64MLKEK78g6aK8CADZMgDZGABSk14pFeABg8FgsFsCEAs6
5AZfW2d5nEc6vjMASdAh1Q5ZwTRcxXQq+LAApHWUj6NBYr8vyGv3GgWQdFSGCgLwgMFgMNitAIis
2dHSaXwHDyxNqbRyneXw8YO9cqXjjU7dLHsHPHoDyHrEC8MB5OAoHxw+UgAMB5BfHYA8FQCIFwcC
CIHBYDDYLakeVmzH3lA8eKDpT/b6U0DHm6J2WDEeF1U+LADx1I89nUffcip7ZkeCDwkga9LjQKB+
wGAwGOwWAURztXA3iwYeUvV4E7AhlY4kCuzpvI5H78yWKeFDO5kj2YVOuD8qXaB0ITh4aPChBaHm
1A8ACAwGg8GuHTy8JA7pVfhQlA/5mv7+k63JucDSUcpbrCe6WC1b8DX3C79Y3P3yxqCDg0cUPqB+
wGAwGOwe4EPGeewEfEgA4a8f7O/T/0vr8pEmcLNIm2pRltknCQp4nMaGHQ8dXGwZaMjXh57wAfCA
wWAw2DUDiBVDKYNMJXx4x479v4N4Tx7UOpraMQd8kIAPYmBQCwhZCwjhhwYdvPiYBx8ADxgMBoPd
EoDwLBcOHzLmwzr2dOpaOQilYzI3y9zwoakgFZ3W6OAQshaKiHZo4LGC6gGDwWCwO1A/rIJiB6GC
yOMgDgkd6b2JJnCzXAI+5OfkIETCiHasFMUjl24Lg8FgMNi1Akgu1faoAMZB/N2RTvu/5HqqXT18
aCoI0XlMSM2AYqUctfJzTeeFxqB6wGAwGOzW1Y9GAIV18H/nNXKdBTwuuUBbECJBJHIAPGAwGAx2
rwDS0nnMhna0xjErdFwaPrTPrzKHBhraAfiAwWAw2K3Dh3TDSEWjcWDjYtCxFPiwIES+epCBmh4w
GAwGuycAsSCkNSBlEcCxRPjIgYgFJdorDAaDwWD3ACHR10UAx9LhI3d+VcHfw2AwGAx2a9Bh/a4N
/HvAxwTnC/CAwWAw2L0ByOJh45YXa4AHDAaDwe4dQGAwGAwGg8Fg0v6fAAMA9j2OqdmoQQIAAAAA
SUVORK5CYII=">
	</image>
	<g>
		<path class="vanish" fill="#D3D3D3" d="M166.3,78.9l-15.8,0.3v61.7h20.1c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3
			C178.7,84.5,173.1,78.9,166.3,78.9z M169,164.2h-18.5v94.1l13-0.3h2.8c6.8,0,12.4-5.5,12.4-12.4v-69.3
			C178.7,170.4,174.5,165.4,169,164.2z M169,164.2h-18.5v94.1l13-0.3h2.8c6.8,0,12.4-5.5,12.4-12.4v-69.3
			C178.7,170.4,174.5,165.4,169,164.2z M166.3,78.9l-15.8,0.3v61.7h20.1c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3
			C178.7,84.5,173.1,78.9,166.3,78.9z M166.3,78.9l-15.8,0.3v61.7h20.1c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3
			C178.7,84.5,173.1,78.9,166.3,78.9z M169,164.2h-18.5v94.1l13-0.3h2.8c6.8,0,12.4-5.5,12.4-12.4v-69.3
			C178.7,170.4,174.5,165.4,169,164.2z M253.9,92.1l-10.6,72.1l21.2,0.1L253.9,92.1z M253.9,92.1l-10.6,72.1l21.2,0.1L253.9,92.1z
			 M169,164.2h-18.5v94.1l13-0.3h2.8c6.8,0,12.4-5.5,12.4-12.4v-69.3C178.7,170.4,174.5,165.4,169,164.2z M166.3,78.9l-15.8,0.3
			v61.7h20.1c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3C178.7,84.5,173.1,78.9,166.3,78.9z M489.7,7.2h-436
			c-22.5,0-41,18.5-41,41v237.3c0,22.5,18.5,41,41,41h436c22.6,0,41-18.5,41-41V48.2C530.7,25.7,512.2,7.2,489.7,7.2z M114.8,198.5
			H78.5l-18.2-33.9l18.2-33.7h36.3l-18.1,33.8L114.8,198.5z M201.9,128.2c0,0-0.9,14.5-10.2,25c6.3,7.3,10.2,16.9,10.2,26.6v65.8
			c0,19.6-15.9,35.6-35.6,35.6h-2.8l-36.2,0.3V55.9l39-0.3c19.6,0,35.6,15.9,35.6,35.6V128.2z M281.9,281.5l-13.9-94l-28.1-0.1
			L226,281.5h-23.5l33.3-225.6h36.3l33.3,225.6H281.9z M351.6,258.3c9.2,0,16.8-6.9,18-15.7h23.3c-1.2,21.6-19.3,39-41.3,39
			c-22.8,0-41.4-18.6-41.4-41.4V97.3c0-22.8,18.6-41.4,41.4-41.4c22.7,0,41.2,18.5,41.4,41.1h-23.3c-0.1-9.8-8.2-17.8-18.1-17.8
			c-10,0-18.1,8.1-18.1,18.1v142.9C333.5,250.2,341.6,258.3,351.6,258.3z M460.2,281.5l-25.7-150.1l-6.2,9.8v140.3h-23.2V55.9h23.2
			v41.7l0.3-0.4l16.2-25.8l9.8-15.5h27.5L453,102l30.8,179.5H460.2z M243.3,164.2l21.2,0.1l-10.6-72.2L243.3,164.2z M169,164.2
			h-18.5v94.1l13-0.3h2.8c6.8,0,12.4-5.5,12.4-12.4v-69.3C178.7,170.4,174.5,165.4,169,164.2z M166.3,78.9l-15.8,0.3v61.7h20.1
			c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3C178.7,84.5,173.1,78.9,166.3,78.9z M166.3,78.9l-15.8,0.3v61.7h20.1
			c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3C178.7,84.5,173.1,78.9,166.3,78.9z M169,164.2h-18.5v94.1l13-0.3h2.8
			c6.8,0,12.4-5.5,12.4-12.4v-69.3C178.7,170.4,174.5,165.4,169,164.2z M253.9,92.1l-10.6,72.1l21.2,0.1L253.9,92.1z M253.9,92.1
			l-10.6,72.1l21.2,0.1L253.9,92.1z M169,164.2h-18.5v94.1l13-0.3h2.8c6.8,0,12.4-5.5,12.4-12.4v-69.3
			C178.7,170.4,174.5,165.4,169,164.2z M166.3,78.9l-15.8,0.3v61.7h20.1c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3
			C178.7,84.5,173.1,78.9,166.3,78.9z"/>
	</g>
</g>
<g>
	<g>
		<g>
			<path class="vanish" fill="#515151" d="M158.9,314.9h-17.5c-3.3,0-6-2.7-6-6v0c0-3.3,2.7-6,6-6h17.5c3.3,0,6,2.7,6,6v0
				C164.9,312.2,162.2,314.9,158.9,314.9z"/>
			<path class="vanish" fill="#515151" d="M406.2,314.9h-17.5c-3.3,0-6-2.7-6-6v0c0-3.3,2.7-6,6-6h17.5c3.3,0,6,2.7,6,6v0
				C412.2,312.2,409.5,314.9,406.2,314.9z"/>
		</g>
	</g>
	<defs>
		<filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="135.4" y="302.9" width="276.8" height="12">
			
				<feColorMatrix  type="matrix" values="-1 0 0 0 1  0 -1 0 0 1  0 0 -1 0 1  0 0 0 1 0" color-interpolation-filters="sRGB" result="source"/>
		</filter>
	</defs>
	<mask maskUnits="userSpaceOnUse" x="135.4" y="302.9" width="276.8" height="12" id="SVGID_6_">
		<g filter="url(#Adobe_OpacityMaskFilter)">
			
				<image class="vanish" overflow="visible" width="282" height="17" xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASABIAAD/7AARRHVja3kAAQAEAAAAHgAA/+4AIUFkb2JlAGTAAAAAAQMA
EAMCAwYAAAG1AAACAwAAAn//2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoX
Hh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoa
JjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/CABEIABEBGgMBIgACEQEDEQH/
xAB+AAEBAQEBAAAAAAAAAAAAAAAABgUEAQEBAAAAAAAAAAAAAAAAAAAAABAAAQMEAwEAAAAAAAAA
AAAABgEEBQARAgNAUAcWEQACAAQDCAMAAAAAAAAAAAABAgARIQNBkQQQQDEScpITM1AiMhIBAAAA
AAAAAAAAAAAAAAAAUP/aAAwDAQACEQMRAAAAmq+dsjgxKrEIAAAAAAAAAAAAACgn7A2ve8Rsvcww
AAAAAAAAAAAAAAAAAB//2gAIAQIAAQUA6T//2gAIAQMAAQUA6T//2gAIAQEAAQUAHRzZM54ebsLL
5vHVPhCR+jljYvsmFx83j7L5vH2Iw/KL10IkeiKVDuFt93C0SGTJ205YiUNo3Uh3C0p3C0TlzR61
6X//2gAIAQICBj8AE//aAAgBAwIGPwAT/9oACAEBAQY/ACSxW2DKmMDmZp9Rj9N3GDe07GSiciZg
755HJW1OgGMVZp9RijN3GDfsEsg4qa02G1f+qzmGwrFbq5x7VzhrOnYOzAgAb54dSQvLwJxEVurn
HtXOGtaZg7NQSr8N/9k=" transform="matrix(1 0 0 1 133 300)">
			</image>
		</g>
	</mask>
	<g opacity="0.5" mask="url(#SVGID_6_)">
		<g>
			<path class="vanish" d="M158.9,314.9h-17.5c-3.3,0-6-2.7-6-6v0c0-3.3,2.7-6,6-6h17.5c3.3,0,6,2.7,6,6v0C164.9,312.2,162.2,314.9,158.9,314.9z"/>
			<path class="vanish" d="M406.2,314.9h-17.5c-3.3,0-6-2.7-6-6v0c0-3.3,2.7-6,6-6h17.5c3.3,0,6,2.7,6,6v0C412.2,312.2,409.5,314.9,406.2,314.9z"/>
		</g>
	</g>
</g>
<path class="vanish" fill="none" stroke="#A0A0A0" stroke-miterlimit="10" d="M485.3,295.7H64c-10.3,0-18.7-8.4-18.7-18.7V54.7
	C45.3,44.4,53.7,36,64,36h421.3c10.3,0,18.7,8.4,18.7,18.7V277C504,287.3,495.6,295.7,485.3,295.7z"/>

<path class="blueexit" fill="#33ABDB" d="M166.3,78.9l-15.8,0.3v61.7h20.1c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3
	C178.7,84.5,173.1,78.9,166.3,78.9z M169,164.2h-18.5v94.1l13-0.3h2.8c6.8,0,12.4-5.5,12.4-12.4v-69.3
	C178.7,170.4,174.5,165.4,169,164.2z M169,164.2h-18.5v94.1l13-0.3h2.8c6.8,0,12.4-5.5,12.4-12.4v-69.3
	C178.7,170.4,174.5,165.4,169,164.2z M166.3,78.9l-15.8,0.3v61.7h20.1c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3
	C178.7,84.5,173.1,78.9,166.3,78.9z M166.3,78.9l-15.8,0.3v61.7h20.1c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3
	C178.7,84.5,173.1,78.9,166.3,78.9z M169,164.2h-18.5v94.1l13-0.3h2.8c6.8,0,12.4-5.5,12.4-12.4v-69.3
	C178.7,170.4,174.5,165.4,169,164.2z M253.9,92.1l-10.6,72.1l21.2,0.1L253.9,92.1z M253.9,92.1l-10.6,72.1l21.2,0.1L253.9,92.1z
	 M169,164.2h-18.5v94.1l13-0.3h2.8c6.8,0,12.4-5.5,12.4-12.4v-69.3C178.7,170.4,174.5,165.4,169,164.2z M166.3,78.9l-15.8,0.3v61.7
	h20.1c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3C178.7,84.5,173.1,78.9,166.3,78.9z M489.7,7.2h-436
	c-22.5,0-41,18.5-41,41v237.3c0,22.5,18.5,41,41,41h436c22.6,0,41-18.5,41-41V48.2C530.7,25.7,512.2,7.2,489.7,7.2z M114.8,198.5
	H78.5l-18.2-33.9l18.2-33.7h36.3l-18.1,33.8L114.8,198.5z M201.9,128.2c0,0-0.9,14.5-10.2,25c6.3,7.3,10.2,16.9,10.2,26.6v65.8
	c0,19.6-15.9,35.6-35.6,35.6h-2.8l-36.2,0.3V55.9l39-0.3c19.6,0,35.6,15.9,35.6,35.6V128.2z M281.9,281.5l-13.9-94l-28.1-0.1
	L226,281.5h-23.5l33.3-225.6h36.3l33.3,225.6H281.9z M351.6,258.3c9.2,0,16.8-6.9,18-15.7h23.3c-1.2,21.6-19.3,39-41.3,39
	c-22.8,0-41.4-18.6-41.4-41.4V97.3c0-22.8,18.6-41.4,41.4-41.4c22.7,0,41.2,18.5,41.4,41.1h-23.3c-0.1-9.8-8.2-17.8-18.1-17.8
	c-10,0-18.1,8.1-18.1,18.1v142.9C333.5,250.2,341.6,258.3,351.6,258.3z M460.2,281.5l-25.7-150.1l-6.2,9.8v140.3h-23.2V55.9h23.2
	v41.7l0.3-0.4l16.2-25.8l9.8-15.5h27.5L453,102l30.8,179.5H460.2z M243.3,164.2l21.2,0.1l-10.6-72.2L243.3,164.2z M169,164.2h-18.5
	v94.1l13-0.3h2.8c6.8,0,12.4-5.5,12.4-12.4v-69.3C178.7,170.4,174.5,165.4,169,164.2z M166.3,78.9l-15.8,0.3v61.7h20.1
	c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3C178.7,84.5,173.1,78.9,166.3,78.9z M166.3,78.9l-15.8,0.3v61.7h20.1
	c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3C178.7,84.5,173.1,78.9,166.3,78.9z M169,164.2h-18.5v94.1l13-0.3h2.8
	c6.8,0,12.4-5.5,12.4-12.4v-69.3C178.7,170.4,174.5,165.4,169,164.2z M253.9,92.1l-10.6,72.1l21.2,0.1L253.9,92.1z M253.9,92.1
	l-10.6,72.1l21.2,0.1L253.9,92.1z M169,164.2h-18.5v94.1l13-0.3h2.8c6.8,0,12.4-5.5,12.4-12.4v-69.3
	C178.7,170.4,174.5,165.4,169,164.2z M166.3,78.9l-15.8,0.3v61.7h20.1c-1.4-0.2-2.9-0.3-4.3-0.3c6.8,0,12.4-5.6,12.4-12.4V91.3
	C178.7,84.5,173.1,78.9,166.3,78.9z"/>
  </a>
</svg>

</div>


