



<div class="footer">
<div class="container">
<a class="button" target="_blank" href="https://dribbble.com/JaredSellers"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
<a class="button" target="_blank" href="https://www.behance.net/JaredSellers"><i class="fa fa-behance" aria-hidden="true"></i></a>
<a class="button" target="_blank" href="https://github.com/JaredSellers"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
<a class="button" target="_blank" href="https://www.linkedin.com/in/jaredsellers"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <p><a href="mailto:personal.jaredsellers@gmail.com">personal.jaredsellers@gmail.com</a></p>
</div>   
</div>
