<div style="margin-top:100px;" class="container">
    <div class="row">
            <h2 id="About">About the <span class="accent">Designer</span></h2>
            <p class="">Jared Sellers is a student at Brigham Young University Idaho, currently finishing a degree in Illustration and Design. He has worked with clients all over the globe in a wide variety of projects, ranging from book covers, to designing custom shoewear, to animated promotional videos. He has also worked in advertising for several years, handling ad campaigns for theatrical productions, branding and websites for local businesses, and producing large scale murals among many others. </p>
            <p><a href="#">personal.jaredsellers@gmail.com</a></p> 
    {% include social.html %}
    </div>
</div>

<div class="container">
<img src="/img/head.jpg"/>
    </div>