<div style="margin-top:100px;" class="container">
    <div class="row">
            <h2 id="About">About the <span class="accent">artist</span></h2>
            <p class="">I am Jared Sellers, a student of Brigham Young University Idaho. I am pursuing a Bachelor of Fine Art, with an emphasis in Illustration. Alongside my degree, I study front end web development, and give back to my school as a web designer and illustrator for University Relations. In my free time I do branding and web development for small businesses in Rexburg, Idaho. If you are interested in working with me, or just want to say hello, I'd love to hear from you. Shoot me an email and we can get to work on your next big idea, together. If you are in Rexburg, we will do lunch. </p>
            <p><a href="#">personal.jaredsellers@gmail.com</a></p> 
    {% include social.html %}
    </div>
</div>

<div class="container">
<img src="/img/head.jpg"/>
    </div>