<div class="container">

    <div class="card">
    
    <a href="/portfolio"><h3 class="card-title">Web Portfolio</h3></a><h4 class="card-subtitle">  (2015)</h4>
        <div class="break"></div>
        <a href="/about"><h3 class="card-artist">Jared Sellers</h3></a><h4 class="card-subartist">(b. 1992)</h4>
    <p>Website on canvas</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor nibh, convallis at molestie id, gravida sed odio. Donec ut nunc in nunc efficitur dapibus. Fusce id diam fermentum, suscipit lectus eu, rhoncus dui. Donec non ante libero. Nunc convallis auctor elit tincidunt finibus. In hac habitasse platea dictumst. Nam tempor libero in gravida tristique. Cras non nulla ac justo tristique tempus eget ut velit. Mauris eu molestie elit, nec viverra leo. Etiam lobortis purus ac neque sodales egestas. Duis et enim at nisl malesuada congue. Maecenas nisi augue, suscipit et iaculis sed, lacinia in dui. Integer pharetra odio eget felis ultrices ullamcorper. Integer a magna ante.</p>
        <div class="button"></div>
        
    </div>
</div>