<div class="nav">
  <div class="container">
        <div class="navbar-left">
            <ul>
               {% include navbar-{{ page.meta }}.html %}
            </ul>
        </div>

        <div class="navbar-right">
            <ul>
                <li><a href="/"><img src="http://lorempixel.com/30/30/"></a></li>
                <li><a href="/"><img src="http://lorempixel.com/30/30/"></a></li>
                <li><a href="/"><img src="http://lorempixel.com/30/30/"></a></li>
                <li><a href="/"><img src="http://lorempixel.com/30/30/"></a></li>
                <li><a href="/"><img src="http://lorempixel.com/30/30/"></a></li>
            </ul>
        </div>
    </div>
</div>