<div class="nav">
  <div class="container">
        <div class="links">
            <ul>
                <li class="sitelink"><a href="#top">HOME</a></li>
                <li class="sitelink"><a href="#portfolio">PORTFOLIO</a></li>
                <li class="sitelink"><a href="#About">ABOUT</a></li>
                <!--<li class="sitelink"><a href="http://sketchbook.jaredsellers.com">SKETCHBOOK</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="mobilenav">
    <li><a href="/"><h2>Home</h2></a></li>
    <li><a href="/portfolio"><h2>Illustration</h2></a></li>
    <!--<li><a href="/webdesign"><h2>Webdesign</h2></a></li>-->
    <li><a href="http://sketchbook.jaredsellers.com"><h2>Sketchbook</h2></a></li>
  </div>
  
<div class="container">
  <a href="javascript:void(0)" class="icon">
    <div class="hamburger">
    <div class="menui top-menu"></div>
    <div class="menui mid-menu"></div>
    <div class="menui bottom-menu"></div>
    </div>
  </a>
</div>
