<div class="nav">
  <div class="container">
        <div class="navbar-left">
            <ul>
                <li class="current"><a href="/">HOME</a></li>
                <li><a href="/portfolio">PORTFOLIO</a></li>
                <li><a href="/blog">BLOG</a></li>
                <li><a href="/about">ABOUT</a></li>
            </ul>
        </div>

        <div class="navbar-right">
            <ul>
                <li class="social"><a href="/"><img src="/img/dribbble.svg"></a></li>
                <li class="social"><a href="/"><img src="/img/github.svg"></a></li>
                <li class="social"><a href="/"><img src="/img/behance.svg"></a></li>
                <li class="social"><a href="/"><img src="/img/linkedin.svg"></a></li>
                <li class="social"><a href="/"><img src="/img/facebook.svg"></a></li>
            </ul>
        </div>
    </div>
</div>