<div class="container">
    <div class="nextprev">
        <div class="next">
            <h3>&lt;&lt;next</h3>
        </div>
        <div class="prev">
            <h3>previous&gt;&gt;</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="folio-navbar">
            <ul>
                <li class="foliolink"><a href="/"><h3>&lt;&lt;next</h3></a></li>
                <li class="foliolink"><a href="/"><h3>previous&gt;&gt;</h3></a></li>
            </ul>
        </div>
</div>