<div class="folio-wrapper">
    <div class="container">
        <h3>//portfolio</h3>
    </div>

    <ul class="folio">
              {% for post in site.posts limit:12 %}
            {% if post.categories contains 'portfolio' %}
        <li class="foliodiv">         
                    {% if post.thumbnail %}    
                <a href="{{ post.url }}"><img src="{{ post.thumbnail }}"/></a>
            {% else %}
                            <a href="{{ post.url }}"><img src="http://lorempixel.com/300/300/" /></a>
               {% endif %}

                    {% endif %}
              {% endfor %}
        </li>
    </ul>
</div>