<div class="container">
    <div class="folio-navbar">
            <ul>
                <li class="foliolink"><a href="/portfolio"><h3 class="current">#All</h3></a></li>
                <li class="foliolink"><a href="/portfolio/illustration/"><h3>#Illustration</h3></a></li>
                <li class="foliolink"><a href="/portfolio/design/"><h3>#Design</h3></a></li>
                <li class="foliolink"><a href="/portfolio/traditional/"><h3>#Traditional</h3></a></li>
            </ul>
        </div>
</div>