


<div class="hanger">
    <div class="container bump"><h2>.portfolio</h2></div>
    <div class="hung">
        <img class="clip" src="/img/blinder%20clip%20on%20wire.svg">
        <img class="art" src="http://lorempixel.com/260/400">
    </div><div class="hung">
        <img class="clip" src="/img/blinder%20clip%20on%20wire.svg">
        <img class="art" src="http://lorempixel.com/260/400">
    </div><div class="hung">
        <img class="clip" src="/img/blinder%20clip%20on%20wire.svg">
        <img class="art" src="http://lorempixel.com/260/400">
    </div><div class="hung">
        <img class="clip" src="/img/blinder%20clip%20on%20wire.svg">
        <img class="art" src="http://lorempixel.com/260/400">
    </div>
    
</div>