.about-banner {
width: 100%;
    background-image: url("/img/about-banner.jpg");
    background-size:cover;
    background-position: right -0px top;
    float: right;
    height: auto;
    padding: 5vw 0 5vw 0;
    p {
    font-weight: 900;
        font-size: 2em;
    color: black;
    }
}

.about-button {
    display: inline-block;
    margin: 30px;
}

.icon-back {
opacity: 0;
  	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
}

.icon svg, path, circle {
      	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
}

 .icon:hover {
    .icon-back {
    opacity: 1;
    }
    #Steam_1_, #Spotify_1_{
    fill:white;
    }
}

icon {
    width:75px;
}