

.footer ul li{
    display: inline-block;
    padding: 0px 5px 0px 5px;
}

.footer p {display: inline-block; float: left; margin-top: 8px;}
.footer ul {display: inline-block;float: left;}

.footer {
    padding-top: 10px;
    position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
    float:left;
    background-color: white;
ul {margin-bottom: 0 !important;}
 li {margin-bottom: 0 !important;}
    
}

#icon {
  width:30px;
}


.circle {fill:white;}
.navlink {
  	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
}

.behance, .dribbble, .facebook, .github, .linkedin, .nav-logo {
  	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
}

.navlink:hover {
    
   .behance{
    fill:$text-color-accent;
  }
    .dribbble {
    fill:$text-color-accent;
  }
    .facebook {
    fill:$text-color-accent;
  }
    .github {
    fill:$text-color-accent;
  }    
  .linkedin {
    fill:$text-color-accent;
  }
  
  .nav-logo {
    fill:white;
  }

}

.footer a {background-color: white;}

