.card {
    margin: 100px 0px 100px 0px;
    width: 70%;
    padding:3%;
    padding-left: 5%;
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.41);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.41);
box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.41);
}

 .card-title {
    font-style: italic;
    display: inline-block;
    }
.card-subtitle {
    margin-left: 10px;
    display: inline-block;
    }
.card-artist {
    display: inline-block;
    font-size: 1em;
}
.card-subartist {
    display: inline-block;
    font-size: 1em;
    margin-left: 10px;
}
        
.card p {
    display: block;
    margin-bottom: 20px;
}

