.card {
    width: 90%;
    padding:3%;
    margin:0 auto;
    float:left;
-webkit-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.41);
-moz-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.41);
box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.41);
    vertical-align: middle;
}

 .card-title {
    font-style: italic;
    display: inline-block;
    }
.card-subtitle {
    margin-left: 10px;
    display: inline-block;
    }
.card-artist {
    display: inline-block;
    font-size: 1em;
}
.card-subartist {
    display: inline-block;
    font-size: 1em;
    margin-left: 10px;
}
        
.card p {
    display: block;
    margin-bottom: 20px;
}

