.logo-bottom {
  border-radius: 50%;
}

.logo {
  position: relative;
  width: 200px;
  padding:  100px 0px 50px 0px;
    
}

.logo-top {
  position: absolute;
  margin: 25px;
  width: 150px;
  z-index: 5;
}