.nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height:auto;
    background: white;
    top:0;
}

.nav ul {
    font-family:'Raleway', 'Arial', 'Sans-Serif';
    font-weight:$heavy;
    padding:0px;
    list-style: none;
    font-weight: $heavy;
    margin: 0px;

}

.links ul li {
    display: inline-block;
    margin-top: 10px;
}


.links {
    display: inline-block;
    float: left;
}

.sitelink a {
    text-decoration: none;
    color: #222;  	
    -o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
    padding: 13px 13px;
}

.sitelink a:hover {
    color:white;
    background-color: #222;
}