.Sellers {font-weight: 100;}

.logo a {
display: block;
margin: 0 auto;
    text-align: center;
    text-transform: uppercase !important;
    vertical-align: middle !important;
}

.nav {
    width: 100%;
    height:auto;
    top:0;
    background:white;
}

.nav ul {
    font-family:$font-default;
    font-weight:$heavy;
    padding:0px;
    list-style: none;
    margin: 0px;

}

.links ul {
text-align: center;
}

.links ul li {
    display: inline-block;
    margin-top: 10px;
}


.links {
    display: block;
    margin: 0 auto;
}


.logo a {
    text-decoration: none;
    color: #222;  	
    -o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
    padding: 10px 10px;
    font-family:$font-default;
    font-weight:$heavy;
    letter-spacing: 0px;
    border-radius: 0px 0px 0px 0px;
}

.nav  a:hover {
    color:white;
    background-color: #222;
}

.sitelink a {
    text-decoration: none;
    color: #222;  	
    -o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
    padding: 13px 5px;
    font-family:$font-default;
    font-weight:$light;
    letter-spacing: 3px;
    border-radius: 0px 0px 0px 0px;
}

.sitelink  a:hover {
    color:white;
    background-color: #222;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 650px) {
.logo a {
display: inline-block;
float: left;
}

.links {
    display: inline-block;
    float: right;
}
    
}

/* Larger than tablet */
@media (min-width: 750px) {

    
}

/* Larger than desktop */
@media (min-width: 1000px) {
 
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
 
}
