.picture-frame {
  background-color:blue;
  width: 80%;
  border:black solid 40px;
      -webkit-box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75);
box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75);
  margin:0 auto;
}
.matte {
  background-color:white;
  height:100%;
-webkit-box-shadow: inset 0px 0px 18px -3px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 18px -3px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 18px -3px rgba(0,0,0,0.75);
}

.framedart {
  width:90%;
  margin:5% 5% 5% 5%;
}

.clear {
 margin-bottom: 100px;
}


.container-60 {
    width:59%;
    display: inline-block;
    margin:0px;
    vertical-align: top;
}

.container-40 {
    width:39%;
    display: inline-block;
    margin:20px 0 0 0;
}

.container-90 {
    width:90%;
    margin:0 auto;
    vertical-align: middle;
}

.potitle {
margin-bottom: 30px;
}
