.art {
 width:100%;
}



.home-thumb {
    border: solid 5px #222;
    width:100%;
    height: auto;
    vertical-align: bottom;
    border-radius: 50%;
    overflow: hidden;
    background-color: $text-color-accent;
    margin: 10px 0 10px 0;
}

.home-thumb a {
    vertical-align: bottom;
    font-size: 0px;
    line-height: 0;
    display: block;
    border-radius: 50%;
    background-color: none;
}

.home-thumb img {
    width:100%;
    opacity: 1;
      -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
    overflow: hidden;
    border-radius: 50%;
}

.home-thumb a:hover {
 background-color: $text-color-accent;
    img {opacity: 0.3;}
}