#icon-goto {
  width:80px;
}

.navlink {
  	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
}

.behance, .dribbble, .facebook, .github, .linkedin, .nav-logo {
  	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
}

.goto-wrapper {
float:right;
margin-right: 50px;
}

.navlink:hover {
    
   .goto{
    fill:#33abdb;
  }
  .nav-logo {
    fill:white;
  }

}