.folio {
    width:100%;
    margin:0px;
    padding: 0px;
}

.foliodiv {
    display: inline-block;
    width: 25%;
    height: 25px;
}

.foliodiv img {
    width: 100%;
}

.foliodiv a {
    max-height: 2px;
}