.hanger {
    width: 100%;
    margin-top: 100px;
    padding: 0px;
}

.hung {
    width:25%;
    display: inline-block;
    margin:0 auto;
    padding: 0px;
    position: relative;
    margin-top: 100px;
}

.clip {
    width:103%;
    position: absolute;
    vertical-align: bottom;
    top: -2vw;
    z-index:3;
    margin-left:-10%;
}

.art {
    width:100%;
        margin-left:10%;
    height: auto;
    position:relative;
    margin: 0 auto;
    vertical-align: top;
    z-index: 1;
    -webkit-box-shadow: 0px 21px 56px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 21px 56px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 21px 56px -1px rgba(0,0,0,0.75);
}



.hanger li a {
    width: 80%;
}

.folio-rect {
     	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s; 
}

.folio-filling {
      	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
}

.folio-words g path {
      	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
}



.hung-hover:hover {
    
    .folio-words g path {
    fill:#ffffff;    
    }
    
    .folio-rect {
fill:#33ABDB;
}
    .folio-filling {
fill:#ffffff;
}
}

.overlay-shadow {
    width:80%;
    margin: 0% 10% 0% 10%;
}

.overlay {
  position: absolute;
  top: 0; left:0; right: 0; bottom: 0;
z-index: 2;
  background: rgba(0,0,0,.3);
  opacity: 0;
   margin-left: 10%;
}
.overlay, .overlay span {
  transition: opacity .2s 
}
.overlay span {
    text-align: center;
    display: inline; /*Change to Block*/
    width: 100%;
    color: #F2F2F2;
    text-decoration: none;
    font-family: $font-default;
    font-weight: 900;
    font-size: 2em;
    word-wrap: normal;
    opacity: 0;
    display: none;
    visibility: hidden; /*Hide this when ready*/

}
.overlay span:before {
  content: "";
  display: block;

}
.overlay-shadow:hover .overlay,
.overlay:focus {
  top: 0;
  opacity: 1;
}
.overlay-shadow:hover .overlay span,
.overlay:focus span {
  opacity: 1;

}


.foliolink  {
padding: 0px 20px 0px 20px;
    li {
    text-align: center;
    }
    
    h3 {
     margin-bottom: 0px;   
    }
}

.foliolink h3 {
    text-decoration: none;
    color: black;  	
    -o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
    
}

.foliolink a:hover {
    h3 {
    color:white;
    background-color: black;
    }
}

.foliolink .current{
    color:#32AAD9;
}
