/*
.fromtop {
    transform-origin: center;
}

        .animate {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -ms-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    }
    
    @-webkit-keyframes fade {
        0% {
    		background-color: $text-color-dark;
    		-webkit-transform: scaleY(0.1);
    	}
        
	100% {
    		background-color: $background-color; 
    		-webkit-transform: scaleY(1);
    	}
    }
    
    @-moz-keyframes fade {
    	0% {
    		background-color: $text-color-dark;
    		-webkit-transform: scaleY(0.1);
    	}
    
    	100% {
    		background-color: $background-color; 
    		-webkit-transform: scaleY(1);
    	}
    }
    
    @-o-keyframes fade {
    	0% {
    		background-color: $text-color-dark;
    		-webkit-transform: scaleY(0.1);
    	}

    	100% {
    		background-color: $background-color; 
    		-webkit-transform: scaleY(1);
    	}
    }
    
    @keyframes fade {
    	0% {
    		background-color: $text-color-dark;
    		-webkit-transform: scaleY(0.1);
    	}

    	100% {
    		background-color: $background-color; 
    		-webkit-transform: scaleY(1);
    	}
    }
    
    .fade {
    	-webkit-animation-name: fade;
    	-moz-animation-name: fade;
    	-o-animation-name: fade;
    	animation-name: fade;
    }
*/