.xmarkfix {
    position: fixed;
    top: 0;
    right:0;
    left:0;
    z-index: 1001;
}

.xmark {
    circle {fill:white;}
    width:40px;
    float: right;
    margin: 3px 0 0 10px;
}

.animated {
      -o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
  transform-origin:center;
}

.xlink {
}

.xlink:hover {
    .backcircle {fill:red;}
    .x {fill:white;}
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
}