---
layout: default
title: Blog
subtitle: When I get around to it.
---
	<!--<div class="container"> 
        <ul class="posts">
	  {% for post in site.categories.blog %}
	    
        <li class="postlist">
            <p>{% if post.thumbnail %}
	<a href="{{ post.url }}"><img src="{{ post.thumbnail }}"/></a>
	{% else %}
                <a href="{{ post.url }}"><img src="http://lorempixel.com/50/50/" /></a>
	{% endif %}</p>
            <h1><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
            <h2>//{{ post.date | date_to_string }}</h2>
        </li>
	  {% endfor %}
	</ul>
</div>
-->
