h1 {margin-top:100px;}
.nav {display:none;}

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
h1 {margin-top:44px;}
.nav {display:block;}
.hamburger {display:none;}
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}


.hamburger {
    position: fixed;
    background-color: white;
    top: 0;
    right:0;
    left:0;
    z-index: 1001;
    pointer-events: none;
    height: 60px;
}

.xham {
    circle {fill:white;}
    float: right;
    pointer-events: all;
    margin-top:10px;
    width: 70px;
    position: absolute;
    right:0;
}

.animated {
      -o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
  transform-origin:center;
}

.xburg:hover {
    .backham {fill:$text-color-accent;}
    .ham {fill:white;}
}


.mobile-nav {
position: fixed;
z-index:1000;
top:0;
right:0;
left:0;
width: 100%;
height: 100%;
background-color: $text-color-accent;
display: none;
}

.mobile-float {
margin:10vh 0 0 5vh;
width:60vw;
height:70vh;
}

.mobile-float .button {
text-align: center;
}

.mobile-link {
 text-decoration: none;
    color:white;
}

.mobile-link a:hover {
 background-color: black;
    color:black;
}

#navoff {display:block}
#navon {
    display: none;
    .backham {fill:$text-color-accent;}
    .ham {fill:white;}
}

#svgon {pointer-events: none;}
#svgoff {pointer-events: all;}