---
layout: Home
---
<div class="container blogimg">
{% include xmarkblog.html %}
    <div>
    {% include nextprevblog.html %}
    {% if page.cover %}
    <img src="{{ page.cover }}">
        {% else %}
    <!--<img class="art" src="{{ page.cover }}">-->
        {% endif %}
        
        <h2>{{ page.title }}</h2>
    
        <hr>
            <div style="Margin:0 auto; max-width:500px;"> 
                        {% if page.subtitle %}
        <p style="margin:0 0 5px 0;">{{ page.subtitle }}</p>
        {% else %}
    <!--<p>{{ page.subtitle }}</p>-->
        {% endif %}
    <h3>// {{ page.date | date_to_string }}</h3>
    </div>
    </div>
    
    {% if page.description %}
    <p>{{ page.description }}</p>
        {% else %}
    <!--<p>{{ page.description }}</p>-->
        {% endif %}
    
    {% if page.description %}
    <img style="margin-top:100px;" class="art" src="{{ page.detail }}">
        {% else %}
    <!--<img style="margin-top:100px;" class="art" src="{{ page.detail }}">-->
        {% endif %}
     
    <div style="Margin:0 auto; max-width:500px;">
{{ content }}
</div>
