---
layout: Home
---
<div class="container">
{% include xmark.html %}
</div>

{% include nextprev.html %}
{% if page.full %}
    <img class="folioimg" src="{{ page.full }}">
{% else %}
    <!--<img class="art" src="{{ page.full }}">-->
{% endif %}
    
<div class="container">
    {% if page.category %}
    <p class="description"><em>- {{ page.title }} -</em></p>
    <p class="description">{{ page.description }}</p>
        {% else %}
    <!--<p>{{ page.description }}</p>-->
        {% endif %}
    {% if page.detail %}
    <img style="margin-top:100px;" class="art" src="{{ page.detail }}">
        {% else %}
    <!--<img style="margin-top:100px;" class="art" src="{{ page.detail }}">-->
        {% endif %}
{{ content }}
</div>
    </div>

<div style="height:150px;">
    

