---
layout: Home
---
<div class="container folioimg">
{% include xmark.html %}
    {% include nextprev.html %}
    <h2>{{ page.title }}</h2>





{% if page.full %}
    <img class="art" src="{{ page.full }}">
{% else %}
    <!--<img class="art" src="{{ page.full }}">-->
{% endif %}
    
    <div class="row" style="margin-top:50px;">
    {% if page.description %}
    <p>{{ page.description }}</p>
        {% else %}
    <!--<p>{{ page.description }}</p>-->
        {% endif %}
</div> 
    </div>

<div class="container">
    {% if page.detail %}
    <img style="margin-top:100px;" class="art" src="{{ page.detail }}">
        {% else %}
    <!--<img style="margin-top:100px;" class="art" src="{{ page.detail }}">-->
        {% endif %}
</div>

<div class="container">{{ content }}</div>
</div>
    

