p::selection {
  color:$text-color-accent;/* WebKit/Blink Browsers */
}
p::-moz-selection {
  color:$text-color-accent; /* Gecko Browsers */
}


h1::selection {
  color: $text-color-accent; /* WebKit/Blink Browsers */
}
h1::-moz-selection {
  color: $text-color-accent; /* Gecko Browsers */
}

h2::selection {
  color: purple; /* WebKit/Blink Browsers */
}
h2::-moz-selection {
  color: purple; /* Gecko Browsers */
}

h3::selection {
  color: purple; /* WebKit/Blink Browsers */
}
h3::-moz-selection {
  color: purple; /* Gecko Browsers */
}


h4::selection {
  color: purple; /* WebKit/Blink Browsers */
}
h4::-moz-selection {
  color: purple; /* Gecko Browsers */
}


h5::selection {
  color: purple; /* WebKit/Blink Browsers */
}
h5::-moz-selection {
  color: purple; /* Gecko Browsers */
}


h6::selection {
  color: purple; /* WebKit/Blink Browsers */
}
h6::-moz-selection {
  color: purple; /* Gecko Browsers */
}
