p::selection {
  color:$text-color-accent2;/* WebKit/Blink Browsers */
}
p::-moz-selection {
  color:$text-color-accent2; /* Gecko Browsers */
}


h1::selection {
  color: $text-color-accent2; /* WebKit/Blink Browsers */
}
h1::-moz-selection {
  color: $text-color-accent2; /* Gecko Browsers */
}

h2::selection {
  color: $text-color-accent2; /* WebKit/Blink Browsers */
}
h2::-moz-selection {
  color: $text-color-accent2; /* Gecko Browsers */
}

h3::selection {
  color: $text-color-accent2; /* WebKit/Blink Browsers */
}
h3::-moz-selection {
  color: $text-color-accent2; /* Gecko Browsers */
}


h4::selection {
  color: $text-color-accent2; /* WebKit/Blink Browsers */
}
h4::-moz-selection {
  color: $text-color-accent2; /* Gecko Browsers */
}


h5::selection {
  color: $text-color-accent2; /* WebKit/Blink Browsers */
}
h5::-moz-selection {
  color: $text-color-accent2; /* Gecko Browsers */
}


h6::selection {
  color: $text-color-accent2; /* WebKit/Blink Browsers */
}
h6::-moz-selection {
  color: $text-color-accent2; /* Gecko Browsers */
}

a::selection {
  color: $text-color-accent2; /* WebKit/Blink Browsers */
}
a::-moz-selection {
  color: $text-color-accent2; /* Gecko Browsers */
}

span::selection {
  color: $text-color-accent2; /* WebKit/Blink Browsers */
}
span::-moz-selection {
  color: $text-color-accent2; /* Gecko Browsers */
}
