.container {
    width: 80%;
    margin:auto;
}

.container-50 {
    width:49%;
    display: inline-block;
    margin:0px;
    vertical-align: top;
}

.navbreak {
height:10vh;
width:100vw;

}

/* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
.figurehead2 {
position: fixed;
    bottom: 0;
    right: 10px;
    z-index: -10;
    width: 100%;
}

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
.figurehead2 {
position: fixed;
    bottom: 0;
    right: 10px;
    z-index: -10;
    width: 60%;
}

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
.figurehead2 {
position: fixed;
    bottom: 0;
    right: 10px;
    z-index: -10;
    width: auto;
}

        
    }
