.container {
    width: 80%;
    margin:auto;
}

.container-50 {
    width:49%;
    display: inline-block;
    margin:0px;
    vertical-align: middle;
}

.navbreak {
height:10vh;
width:100vw;

}

.about-banner {
width: 100%;
}