h1, h2, h3, h4, h5, h6, p{
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1 {
  border: solid 30px $text-color-dark;
  
  width:auto;
    color:$text-color-dark;
  padding:20px 20px;
  margin:0 auto;
  margin-top: 44px;
    margin-bottom: 20px;
  text-align: left;
  font-family:$font-default;
  text-transform: uppercase;
  font-weight:$heavy;
  font-size: 11rem;
  line-height:.9;
    letter-spacing: 1px;
    overflow:hidden;
    word-wrap: break-word;
}

h2 {
   font-size: 52px;
   line-height: 60px;
   margin: 0px 0px 15px 0px;
   font-weight: 900;
   font-style: normal;
   font-family: "Raleway";
   width: 582.15625px;
   text-transform: uppercase;
   letter-spacing: 2px;
}

p {
   margin: 0px 0px 13px 0px;
   font-size: 20px;
   line-height: 36px;
   text-align: justify;
   clear: none;
   font-family: "Anonymous Pro","Raleway","Verdana";
   font-weight: 400;
   font-style: normal;
}