h1, h2, h3, h4, h5, h6, p{
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1 {
  border: solid 3vw $text-color-dark;
  width:auto;
    color:$text-color-dark;
  padding:5px 5px;
  margin:0 auto;
  margin-top: 44px;
    margin-bottom: 20px;
  text-align: left;
  font-family:$font-default;
  text-transform: uppercase;
  font-weight:$heavy;
  font-size: 9vw;
  line-height:.9;
    letter-spacing: 1px;
    overflow:hidden;
    word-wrap: break-word;
}

h2 {
   font-size: 52px;
   line-height: 60px;
   margin: 0px 0px 15px 0px;
   font-weight: 900;
   font-style: normal;
   font-family: "Raleway";
   text-transform: uppercase;
   letter-spacing: 2px;
}

h3 {
   font-size: 30px;
    color:white;
   line-height: 60px;
   margin: 10px 0px 15px 0px;
   font-weight: 900;
   font-style: normal;
   font-family: "Raleway";
   text-transform: uppercase;
   letter-spacing: 1px;
}

p {
   margin: 0px 0px 13px 0px;
   font-size: 20px;
   line-height: 36px;
   text-align: justify;
   clear: none;
   font-family: "Anonymous Pro","Raleway","Verdana";
   font-weight: 400;
   font-style: normal;
}

a {
    color:$text-color-accent;
    font-family: "Anonymous Pro","Raleway","Verdana";
    -o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition: .2s;
}

a:hover {
    color:white;
    background-color: #222;
}


/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
h1 {
  border: solid 20px $text-color-dark;
  padding:10px 10px;
  font-size: 9vw;
}
}

/* Larger than desktop */
@media (min-width: 1000px) {
h1 {
  border: solid 30px $text-color-dark;
  padding:15px 15px;
}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
h1 {
  padding:20px 20px;
  font-size: 11rem;
}
}
