
h1 {
    font-size: $font-header;
    font-family: $font-default;
    font-weight:$heavy;
    color:$text-color-dark;
}

h2 {
    font-size:$font-header2;
    font-family: $font-default;
    font-weight:$light;
    color:$text-color-dark;
}

h3 {
    font-size: $font-header3;
    font-family: $font-default;
    font-weight:$heavy;
    color:$text-color-dark;
    margin: 0px 0px 15px 0px;
}

h4 {
    font-size: $font-header4;
    font-family: $font-default;
    font-weight:$light;
    color:$text-color-mid;
    margin: 0px;
}

h5 {
    
}

h6 {
    font-family: $font-default;
    font-weight: $light;
    font-size:$font-footer;
}

p {
    font-family:$font-default;
    font-weight:$light;
    font-size: $font-paragraph;
    line-height: 1.4em;
    color:$text-color-dark;
}


a {
    text-decoration: none;
    color:$text-color-dark;
}

.title h1 {
margin-bottom: 10px;
}

