
h1 {
    font-size: 4em;
    font-family: $font-default;
    font-weight:900;
    color:$text-color-dark;
}

h2 {
    font-size: 1.25em;
    font-family: $font-default;
    font-weight:$light;
    color:$text-color-mid;
}

h3 {
    
}

h4 {
    
}

h5 {
    
}

h6 {
    font-family: $font-default;
    font-weight: $light;
    font-size: 1em;
}

p {
    font-family:'Lato', 'Helvetica','Arial', 'Sans-Serif';
    font-weight:300;
    font-size: 1.5em;
    line-height: 1.4em;
    color: black;
}


a {
    text-decoration: none;
    color: black;
}

h1 a:hover {
    color:red;
}
    

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color:#808080;
}

footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

