//Sass Partial

body {overflow-y:auto;padding-bottom: 100px;}

.hidden {
visibility: hidden;
    div {
visibility: hidden;
    }
}

.abolished {
display: none;
    div {
display: none;
    }
}

.videoframe {
height: 50vw;
max-height: 550px;
}