.hanger {
    width: 100%;
    margin-top: 100px;
}

.hung {
    width:25%;
    display: inline-block;
    margin:0 auto;
    padding: 0px;
    position: relative;
    
    
}

.clip {
    width:101%;
    position: absolute;
    z-index:2;
}

.art {
    width:80%;
    position:relative;
    top: 31px;
    margin: 0 auto;
    z-index: 1;
    
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

    -webkit-box-shadow: 0px 21px 56px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 21px 56px -1px rgba(0,0,0,0.75);
box-shadow: 0px 21px 56px -1px rgba(0,0,0,0.75);
}

.bump {
    margin-bottom: 50px;
}