.hanger {
    width: 100%;
    margin-top: 100px;
    padding: 0px;
}

.hung {
    width:25%;
    display: inline-block;
    margin:0 auto;
    padding: 0px;
    position: relative;
    margin-top: 20px;
}

.clip {
    width:103%;
    position: absolute;
    vertical-align: bottom;
    top: -2vw;
    z-index:2;
}

.art {
    width:80%;
    position:relative;
    margin: 0 auto;
    margin-left: 10%;
    vertical-align: top;
    z-index: 1;
    -webkit-box-shadow: 0px 21px 56px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 21px 56px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 21px 56px -1px rgba(0,0,0,0.75);
}

.hanger li a {
    width: 80%;
}

.bump {
    margin-bottom: 50px;
}
