//Color Variables
$text-color-dark: #222;
$text-color-mid: #808080;
$text-color-light: white;
$text-color-hover: #cc3366;
$text-color-accent: //#ff33cc;
#ffff00;
$text-color-accent2: #ff33cc;

$background-color:white;


//Font Weight Variables
$light:300;
$regular:400;
$heavy:900;

//Font Family Variables
$font-default:'Roboto', 'Arial','Arial', 'Sans-Serif';

//Navbar Font Variables