//Color Variables
$text-color-dark: #222;
$text-color-mid: #808080;
$text-color-light: white;
$text-color-hover: purple;
$text-color-accent: #29ABE2;

$background-color:white;


//Font Weight Variables
$light:300;
$regular:400;
$heavy:900;

//Font Family Variables
$font-default:'Raleway', 'Helvetica','Arial', 'Sans-Serif';

//Navbar Font Variables