//Color Variables
$text-color-dark: black;
$text-color-mid: #808080;
$text-color-light: white;
$text-color-hover: purple;


//Font Weight Variables
$light:300;
$regular:400;
$heavy:900;

//Font Family Variables
$font-default:'Lato', 'Helvetica','Arial', 'Sans-Serif';

//Font Size Variables

$font-footer:0.75em;
$font-paragraph:1em;
$font-header:4em;
$font-header2:1.25em;

//Navbar Font Variables